$color-white: #ffffff;
$color-black: #111111;
$color-gray-outline: #C3C8C9;
$color-blue-light: #227AA9;
$color-blue: #008DB8;
$color-blue-dark: #056486;
$color-background: #ebeef0;

$card-background: #D2DBE0;
$link-color: $color-blue-light;
$link-color-hover: $color-blue;

$text-button-color: $color-blue;
$text-button-color-hover: $color-blue-dark;
