<header>
  <div class="container">
    <div class="text-left pull-left logo__container">
      <img src="https://www.arbetsformedlingen.se/webdav/images/mallbilder/startsida2015/af_logo_2014.svg" alt="">
    </div>
    <ul class="nav hidden-xs navbar-nav rolemenu__container js-rolemenu">
      <li><a href="" class="rolemenu__link active">Arbetssokande</a></li>
      <li><a href="" class="rolemenu__link">Arbetsgivare</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right header-links__container">
      <li><a href="" class="header-link header-link--search js-open-search"><i class="fa fa-search"></i><span>Sök</span></a></li>
      <li><a href="" class="header-link header-link--search js-open-search"><i class="fa fa-user"></i><span>Logga in</span></a></li>
      <li><a href="" class="header-link header-link--search js-open-search"><i class="fa fa-bars"></i><span>Meny</span></a></li>
    </ul>
  </div>
</header>
