<div class="pb-autocomplete">
  <div class="input-tag-container" *ngIf="!inputInFocus && chosen.length > 0">
    <div class="tag-item tag-truncated" *ngIf="chosen.length === 1" [ngClass]="{'tag-text': chosen[0].typ.toLowerCase() === 'sök i annonstext'}">
        <span class="tag-namn">{{ chosen[0].namn }}</span>
        <i class="fa fa-close" (click)="removeFromChosen(chosen[0])"></i>
    </div>
    <div class="tag-item tag-summarized tag-truncated" *ngIf="chosen.length > 1">
      <span class="tag-namn">{{ chosen[0].namn }}</span>
      <span class="tag-pill-number">+{{ chosen.length - 1 }}</span>
    </div>
  </div>
  <p-autoComplete
    [(ngModel)]="val"
    [suggestions]="results"
    (completeMethod)="search($event)"
    field="namn"
    styleClass=""
    (onSelect)="addValue($event)"
    (onFocus)="focus($event)"
    (onBlur)="blur($event)"
    autoHighlight="true"
    placeholder="{{chosen.length > 0 ? 'Skriv in fler': placeholder}}">

    <ng-template let-val pTemplate="item">
      <div class="autocomplete-item">
        <span class="pull-left autocomplete-result" [innerHtml]="boldify(val.namn, inputValue)"></span>
        <span class="pull-right autocomplete-type">{{ val.typ | lowercase }}</span>
      </div>
    </ng-template>

  </p-autoComplete>
  <!-- List of tags, only visible if Summarizing tag not visible -->
  <div class="selected-tag-container" *ngIf="inputInFocus && chosen.length > 0">
    <div class="tag-item" *ngFor="let criteria of chosen" [ngClass]="{'tag-text': criteria.typ.toLowerCase() === fritextType}" >
      <span class="tag-namn">{{ criteria.namn }}</span>
      <button (click)="removeFromChosen(criteria)" class="selected-criteria-btn"><i class="fa fa-close"></i></button>
    </div>
  </div>
</div>
