<app-showad *ngIf="showAdView"></app-showad>
<div *ngIf="!showAdView" class="as-background container">
  <div class="as-matcha">
    <div class="row heading-area">
      <div class="col-xs-12 col-sm-7 heading-left">
        <h1 class="as-matcha__header" (click)="showAlternativeListDesign = !showAlternativeListDesign;">Platsbanken</h1>
        <!-- <h2 class="hittade-annonser ng-scope">Just nu finns det <span class="antalmatchande ng-binding">{{numberOfAvailableJobs}}</span> lediga jobb</h2> -->
      </div>
      <div class="col-xs-12 col-sm-5 heading-right">
        <div class="ng-isolate-scope">
        </div>
      </div>
    </div>
    <div class="row resultat-area">
      <div class="col-sm-12 col-md-5 col-lg-4 left-column">
        <div class="ng-scope">
          <div class="matchningsprofil ng-scope">
            <h2 class="rubrikErbjuder sr-only">Sökverkttyg</h2>
            <div class="mp-yrke-ort yrke-flikar">
              <h3 class="panel-title">Jag vill jobba som</h3>
              <div class="ng-isolate-scope mp-input-area" *ngIf="showJobTypes">
                <div class="ng-isolate-scope">
                  <div class="tab-content">
                    <div class="tab-pane ng-scope active">
                      <div class="mp-input-area ng-scope">
                        <label id="mp-yrkesroller_LABEL" class="input-instruction" for="mp-yrkesroller">Skriv in sökord</label>
                        <input id="mp-yrkesroller" (keyup)="searchInputTimeout($event)" class="form-control ng-pristine ng-untouched ng-valid ng-empty" autocomplete="off" placeholder="Ex. yrke, annons-ID, företag" type="text">
                        <ul class="dropdown-menu ng-isolate-scope" *ngIf="showFreetextJobSearchResults" ng-show="isOpen() &amp;&amp; !moveInProgress" role="listbox" aria-hidden="false"
                        id="typeahead-39-8211" matches="matches" move-in-progress="moveInProgress" query="query" position="position"
                        debounce="debounceUpdate" style="top: 72px; left: 0px;display:block;">
                          <li class="uib-typeahead-match ng-scope" *ngFor="let result of freetextJobSearchResults | slice:0:12;" (click)="selectFreetextResult($event, result.id, result.namn, result.typ, 'job')" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index, $event)" role="option">
                            <a class="template-typeahead ng-scope" data-type-name="freetextJobOption">
                              <span ng-bind-html="match.label | uibTypeaheadHighlight:query" class="ng-binding" data-type-name="freetextJobOption" innerHTML="{{ highlightText(result.namn, freetextJob) }}">

                              </span>
                              <span class="typ-typeahead ng-binding" ng-bind="match.model.typ | lowercase">{{result.typ.toLowerCase()}}</span>
                            </a>
                          </li>
                        </ul>

                        <label id="JobAreasContainer_LABEL" class="input-instruction area-container-label" for="JobAreasContainer">Välj från kategorier</label>
                        <div id="JobAreasContainer" class="areaContainer {{showAlternativeListDesign ? 'alternative' : ''}}">
                          <div id="JobAreasToggle" class="areaToggle" (click)="showJobAreas = !showJobAreas">
                            <div class="name">
                              Välj från kategori
                            </div>
                            <div class="hasChildren {{ !showJobAreas ? 'collapsed' : 'expanded' }} fa">

                            </div>
                          </div>
                          <div id="JobAreas" class="list-level-1 {{ !showJobAreas ? 'hidden' : '' }}">
                            <ul>
                              <li *ngFor="let yrkesomrade of yrkesomraden" class="jobArea">
                                <div class="checkbox-wrapper">
                                  <div class="checkbox" id="{{yrkesomrade.typ}}_{{yrkesomrade.id}}_CONTAINER" attr.data-id="{{yrkesomrade.id}}" attr.data-name="{{yrkesomrade.namn}}" attr.data-type="{{yrkesomrade.typ}}">
                                    <input (change)="levelOneCheck($event, yrkesomrade.id, yrkesomrade.namn, yrkesomrade.typ);"
                                    name="{{yrkesomrade.typ}}_{{yrkesomrade.id}}" attr.data-id="{{yrkesomrade.id}}" attr.data-name="{{yrkesomrade.namn}}" attr.data-type="{{yrkesomrade.typ}}"
                                      id="{{yrkesomrade.typ}}_{{yrkesomrade.id}}" class="" type="checkbox">
                                    <label id="{{yrkesomrade.typ}}_{{yrkesomrade.id}}_LABEL" class="" for="{{yrkesomrade.typ}}_{{yrkesomrade.id}}">{{yrkesomrade.namn}}</label>
                                  </div>
                                  <div id="{{yrkesomrade.typ}}_{{yrkesomrade.id}}_TOGGLE" *ngIf="yrkesomrade.yrkesgrupper" class="hasChildren collapsed fa" (click)="toggleChild($event, yrkesomrade.id, yrkesomrade.namn, yrkesomrade.typ)">
                                </div>
                                </div>
                                <ul id="{{yrkesomrade.id}}_{{yrkesomrade.typ}}_CHILDREN" *ngIf="yrkesomrade.yrkesgrupper" class="hidden jobGroup list-level-2">
                                  <li *ngFor="let yrkesgrupp of yrkesomrade.yrkesgrupper">
                                    <div class="checkbox-wrapper">
                                      <div class="liContent checkbox" id="{{yrkesgrupp.typ}}_{{yrkesgrupp.id}}_CONTAINER">
                                        <input (change)="levelTwoCheck($event, yrkesgrupp.id, yrkesgrupp.namn, yrkesgrupp.typ);" name="{{yrkesgrupp.typ}}_{{yrkesgrupp.id}}"
                                          id="{{yrkesgrupp.typ}}_{{yrkesgrupp.id}}" attr.data-parent-id="{{yrkesomrade.typ}}_{{yrkesomrade.id}}" class="" type="checkbox"
                                          attr.data-id="{{yrkesgrupp.id}}" attr.data-name="{{yrkesgrupp.namn}}" attr.data-type="{{yrkesgrupp.typ}}">
                                        <label id="{{yrkesgrupp.typ}}_{{yrkesgrupp.id}}_LABEL" class="" for="{{yrkesgrupp.typ}}_{{yrkesgrupp.id}}">{{yrkesgrupp.namn}}</label>
                                      </div>
                                      <div id="{{yrkesgrupp.typ}}_{{yrkesgrupp.id}}_TOGGLE" *ngIf="yrkesgrupp.yrken" class="hasChildren collapsed fa" (click)="toggleChild($event, yrkesgrupp.id, yrkesgrupp.namn, yrkesgrupp.typ)"></div>
                                    </div>
                                    <ul id="{{yrkesgrupp.id}}_{{yrkesgrupp.typ}}_CHILDREN" *ngIf="yrkesgrupp.yrken" class="hidden job list-level-3" attr.data-parent-id="{{yrkesgrupp.id}}">
                                      <li *ngFor="let yrke of yrkesgrupp.yrken">
                                        <div class="checkbox-wrapper no-children">
                                          <div class="liContent checkbox" id="{{yrke.typ}}_{{yrke.id}}_CONTAINER" attr.data-id="{{yrke.id}}" attr.data-name="{{yrke.namn}}" attr.data-type="{{yrke.typ}}">
                                            <input (change)="levelThreeCheck($event, yrke.id, yrke.namn, yrke.typ);" name="{{yrke.typ}}_{{yrke.id}}"
                                              id="{{yrke.typ}}_{{yrke.id}}" attr.data-parent-id="{{yrkesgrupp.typ}}_{{yrkesgrupp.id}}" class="" type="checkbox"
                                               attr.data-id="{{yrke.id}}" attr.data-name="{{yrke.namn}}" attr.data-type="{{yrke.typ}}">
                                            <label class="" for="{{yrke.typ}}_{{yrke.id}}">{{yrke.namn}}</label>
                                          </div>
                                          <div id="{{yrke.typ}}_{{yrke.id}}_TOGGLE" *ngIf="yrkesgrupp.yrkesgrupper" class="hasChildren collapsed"></div>
                                        </div>
                                      </li>
                                    </ul>
                                  </li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                          <div id="JobAreasClose" class="areaMinimize {{ !showJobAreas ? 'hidden' : '' }}" (click)="showJobAreas = false">
                            <div class="name">
                              Minimera
                            </div>
                          </div>
                        </div>
                        <div class="checkbox ng-scope">
                          <input id="ingen-erfarenhet" (change)="checkboxPropertyClick($event, '1', 'Ingen erfarenhet', 'INGEN_EFTERFRAGAD_YRKESERFARENHET')" class="ng-pristine ng-untouched ng-valid ng-empty" type="checkbox">
                          <label for="ingen-erfarenhet">Visa jobb utan krav på arbetslivserfarenhet</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mp-yrke-ort arbetsort">
              <h3 class="panel-title">Jag vill jobba i</h3>
              <div class="ng-isolate-scope" *ngIf="showJobGeoArea">
                <div class="mp-input-area mp-arbetsorter">
                  <label for="mp-arbetsorter" class="sr-only">Jag vill jobba i</label>
                  <label id="mp-yrkesorter_LABEL" class="input-instruction" for="mp-yrkesorter">Skriv in plats</label>
                  <input id="mp-arbetsorter" class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                    autocomplete="off" placeholder="Ex. kommun, län, land, postnummer" type="text"
                    (keyup)="searchInputTimeout($event)" >
                  <ul class="dropdown-menu ng-isolate-scope" *ngIf="showFreetextAreaSearchResults"
                    role="listbox" id="typeahead-19-9320"
                    style="top: 72px; left: 0px;display:block;">
                      <li class="uib-typeahead-match ng-scope" *ngFor="let result of freetextAreaSearchResults | slice:0:11;"
                        (click)="selectFreetextResult($event, result.id, result.namn, result.typ, 'area')"
                        ng-class="{active: isActive($index) }"
                        ng-mouseenter="selectActive($index)" ng-click="selectMatch($index, $event)" role="option"
                        id="typeahead-19-9320-option-0" style="">
                          <a class="template-typeahead ng-scope" data-type-name="freetextAreaOption">
                            <span ng-bind-html="match.label | uibTypeaheadHighlight:query" class="ng-binding"
                            data-type-name="freetextAreaOption" innerHTML="{{ highlightText(result.namn, freetextArea) }}">
                            </span>
                            <span class="typ-typeahead ng-binding">{{result.typ.toLowerCase()}}</span>
                          </a>
                      </li>
                  </ul>
                  <label id="LandAreasContainer_LABEL" class="input-instruction area-container-label" for="LandAreasContainer">Välj från område</label>
                   <div id="LandAreasContainer" class="areaContainer {{showAlternativeListDesign ? 'alternative' : ''}}">
                     <div id="LandAreasToggle" class="areaToggle" (click)="showLandAreas = !showLandAreas">
                       <div class="name">
                         Välj område
                       </div>
                       <div class="hasChildren {{ !showLandAreas ? 'collapsed' : 'expanded' }} fa">

                       </div>
                     </div>
                     <div id="LandAreas" class="list-level-1 {{ !showLandAreas ? 'hidden' : '' }}">
                       <ul>
                         <li *ngFor="let land of lander" class="jobArea">
                           <div class="checkbox-wrapper">
                             <div class="checkbox no-box" (click)="toggleChild(null, land.id, land.namn, land.typ)" id="{{land.typ}}_{{land.id}}_CONTAINER" attr.data-id="{{land.id}}" attr.data-name="{{land.namn}}" attr.data-type="{{land.typ}}">
                               <!-- <input (change)="levelOneCheck($event, land.id, land.namn, land.typ);"
                               name="{{land.typ}}_{{land.id}}" attr.data-id="{{land.id}}" attr.data-name="{{land.namn}}" attr.data-type="{{land.typ}}"
                                 id="{{land.typ}}_{{land.id}}" class="" type="checkbox"> -->
                               <label id="{{land.typ}}_{{land.id}}_LABEL" class="{{ land.id === '00' ? 'bold' : '' }}" for="{{land.typ}}_{{land.id}}">{{land.namn}}</label>
                             </div>
                             <div id="{{land.typ}}_{{land.id}}_TOGGLE" *ngIf="land.lan || land.lander" class="hasChildren {{ land.id === '00' ? 'expanded' : 'collapsed' }} fa"></div>
                           </div>
                           <ul id="{{land.id}}_{{land.typ}}_CHILDREN" *ngIf="land.lan" class="{{ land.id === '00' ? '' : 'hidden'}} jobGroup list-level-2">
                             <li *ngFor="let lanet of land.lan">
                               <div class="checkbox-wrapper">
                                 <div class="liContent checkbox" id="{{lanet.typ}}_{{lanet.id}}_CONTAINER">
                                   <input (change)="levelOneCheck($event, lanet.id, lanet.namn, lanet.typ);" name="{{lanet.typ}}_{{lanet.id}}"
                                     id="{{lanet.typ}}_{{lanet.id}}" attr.data-parent-id="{{land.typ}}_{{land.id}}" class="" type="checkbox"
                                     attr.data-id="{{lanet.id}}" attr.data-name="{{lanet.namn}}" attr.data-type="{{lanet.typ}}">
                                   <label id="{{lanet.typ}}_{{lanet.id}}_LABEL" class="" for="{{lanet.typ}}_{{lanet.id}}">{{lanet.namn}}</label>
                                 </div>
                                 <div id="{{lanet.typ}}_{{lanet.id}}_TOGGLE" *ngIf="lanet.kommuner" class="hasChildren collapsed fa" (click)="toggleChild($event, lanet.id, lanet.namn, lanet.typ)"></div>
                               </div>
                               <ul id="{{lanet.id}}_{{lanet.typ}}_CHILDREN" *ngIf="lanet.kommuner" class="hidden job list-level-3" attr.data-parent-id="{{lanet.id}}">
                                 <li *ngFor="let kommun of lanet.kommuner">
                                   <div class="checkbox-wrapper no-children">
                                     <div class="liContent checkbox" id="{{kommun.typ}}_{{kommun.id}}_CONTAINER" attr.data-id="{{kommun.id}}" attr.data-name="{{kommun.namn}}" attr.data-type="{{kommun.typ}}">
                                       <input (change)="levelTwoCheck($event, kommun.id, kommun.namn, kommun.typ);" name="{{kommun.typ}}_{{kommun.id}}"
                                         id="{{kommun.typ}}_{{kommun.id}}" attr.data-parent-id="{{lanet.typ}}_{{lanet.id}}" class="" type="checkbox"
                                          attr.data-id="{{kommun.id}}" attr.data-name="{{kommun.namn}}" attr.data-type="{{kommun.typ}}">
                                       <label id="{{kommun.typ}}_{{kommun.id}}_TOGGLE" id="{{kommun.typ}}_{{kommun.id}}_LABEL"class="" for="{{kommun.typ}}_{{kommun.id}}">{{kommun.namn}}</label>
                                     </div>
                                   </div>
                                 </li>
                               </ul>
                             </li>
                           </ul>
                           <ul id="{{land.id}}_{{land.typ}}_CHILDREN" *ngIf="land.lander" class="hidden jobGroup list-level-2">
                             <li *ngFor="let lanet of land.lander">
                               <div class="checkbox-wrapper" [ngClass]="{'no-children': !lanet.kommuner}">
                                 <div class="liContent checkbox" id="{{lanet.typ}}_{{lanet.id}}_CONTAINER">
                                   <input (change)="otherCountryCheck($event, lanet.id, lanet.namn, lanet.typ);" name="{{lanet.typ}}_{{lanet.id}}"
                                     id="{{lanet.typ}}_{{lanet.id}}" attr.data-parent-id="{{land.typ}}_{{land.id}}" class="" type="checkbox"
                                     attr.data-id="{{lanet.id}}" attr.data-name="{{lanet.namn}}" attr.data-type="{{lanet.typ}}">
                                   <label id="{{lanet.typ}}_{{lanet.id}}_LABEL" class="" for="{{lanet.typ}}_{{lanet.id}}">{{lanet.namn}}</label>
                                   <div id="{{lanet.typ}}_{{lanet.id}}_TOGGLE" *ngIf="lanet.kommuner" class="hasChildren collapsed fa" (click)="toggleChild($event, lanet.id, lanet.namn, lanet.typ)">
                                   </div>
                                 </div>
                               </div>
                             </li>
                           </ul>
                         </li>
                       </ul>
                     </div>
                     <div id="LandAreasClose" class="areaMinimize {{ !showLandAreas ? 'hidden' : '' }}" (click)="showLandAreas = false">
                       <div class="name">
                         Minimera
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
             <h3 class="rubrikKraver">Förfina din sökning</h3>
             <div class="af-card mp-anstallningsvillkor">
               <a href="javascript:void(0)" id="villkor" (click)="showTerms = !showTerms">
                 <span id="rubrik-anstallningsvillkor" class="card-rubrik">
                   <h4>Anställningsvillkor</h4>
                 </span>
                 <i class="pull-right fa {{!showTerms ? 'fa-angle-down' : 'fa-angle-up'}}"></i>
               </a>
               <div class="card-checkbox {{!showTerms ? 'collapse' : ''}}" style=""><!-- class="card-checkbox collapse" -->
                 <div class="ng-isolate-scope">
                   <div class="mp-anstallningstyp">
                     <div class="anstallningsvillkor-label">Anställningstyp</div>
                     <div class="checkbox ng-scope">
                       <input id="anstallningstyp-1" (change)="checkboxPropertyClick($event, '1', 'Vanlig anställning', 'ANSTALLNINGSTYP')" name="Vanlig anställning" value="1" class="ng-pristine ng-untouched ng-valid ng-empty" type="checkbox">
                       <label for="anstallningstyp-1" class="ng-binding">Vanlig anställning</label>
                     </div>
                     <div class="checkbox ng-scope">
                       <input id="anstallningstyp-2" (change)="checkboxPropertyClick($event, '2', 'Sommarjobb / feriejobb', 'ANSTALLNINGSTYP')" name="Sommarjobb / feriejobb" value="2" class="ng-pristine ng-untouched ng-valid ng-empty" type="checkbox">
                       <label for="anstallningstyp-2" class="ng-binding">Sommarjobb / feriejobb</label>
                     </div>
                     <div class="checkbox ng-scope">
                       <input id="anstallningstyp-4" (change)="checkboxPropertyClick($event, '4', 'Behovsanställning', 'ANSTALLNINGSTYP')" name="Behovsanställning" value="4" class="ng-pristine ng-untouched ng-valid ng-empty" type="checkbox">
                       <label for="anstallningstyp-4" class="ng-binding">Behovsanställning</label>
                     </div>
                   </div>
                   <div class="mp-omfattning">
                     <label class="anstallningsvillkor-label">Önskad omfattning</label>
                     <div class="checkbox">
                       <input id="villkor-heltid" (change)="fulltimePropertyClick($event)" class="ng-pristine ng-untouched ng-valid ng-empty" type="checkbox">
                       <label for="villkor-heltid">Heltid</label>
                     </div>
                     <div class="checkbox">
                       <input id="villkor-deltid" (change)="parttimePropertyClick($event)" class="ng-pristine ng-untouched ng-valid ng-empty" type="checkbox">
                       <label for="villkor-deltid">Deltid</label>
                     </div>
                   </div>
                   <div *ngIf="showParttimeSlider" class="ng-hide">
                     <p class="anstallningsvillkorSubLbl">Så här mycket vill jag jobba (%)</p>
                     <div class="arbetsomfattning-slider-container">
                       <!-- <nouislider id="af-villkor-omfattning-slider" class="af-slider noUi-target noUi-ltr noUi-horizontal" [tooltips]="[ true, true ]" [connect]="true" [min]="0" [max]="100" [step]="5" [(ngModel)]="someRange" (ngModelChange)="rangeValueChanged($event)"></nouislider> -->
                     </div>
                   </div>
                 </div>
               </div>
             </div>
             <div class="af-card accordiongroup-kompetenser">
               <a href="javascript:void(0)" id="kompetenser" (click)="showCompetences = !showCompetences">
                 <span id="rubrik-kompetenser" class="card-rubrik">
                   <h4>Kompetenser</h4>
                 </span>
                 <i class="pull-right fa {{!showCompetences ? 'fa-angle-down' : 'fa-angle-up'}}"></i>
               </a>
               <div class="card-input {{!showCompetences ? 'collapse' : ''}}">
                 <div model="vm.matchningskriterier" class="ng-isolate-scope">
                   <div class="mp-input-area mp-kompetenser">
                     <label for="mp-kompetenser" class="sr-only">Ange dina kompetenser</label>
                     <input id="mp-kompetenser" class="form-control ng-pristine ng-untouched ng-valid ng-empty" autocomplete="off" placeholder="Skriv t.ex. &quot;Lärarlegitimation&quot;" type="text">
                     <ul class="dropdown-menu ng-isolate-scope ng-hide" role="listbox" id="typeahead-21-8693" style="">
                     </ul>
                   </div>
                 </div>
               </div>
             </div>
             <div class="af-card accordiongroup-yrken">
               <a href="javascript:void(0)" id="kompetenser" (click)="showExperience = !showExperience">
                 <span id="rubrik-kompetenser" class="card-rubrik">
                   <h4>Arbetslivserfarenhet</h4>
                 </span>
                 <i class="pull-right fa {{!showExperience ? 'fa-angle-down' : 'fa-angle-up'}}"></i>
               </a>
               <div class="card-input {{!showExperience ? 'collapse' : ''}}">
                 <div class="ng-isolate-scope">
                   <div class="mp-input-area mp-yrken">
                     <label for="mp-yrken" class="sr-only">Ange tidigare arbetslivserfarenhet</label>
                     <input id="mp-yrken" class="form-control ng-pristine ng-untouched ng-valid ng-empty" autocomplete="off" placeholder="Skriv t.ex. &quot;Lärare i grundskolan&quot;" type="text">
                     <ul class="dropdown-menu ng-isolate-scope ng-hide" role="listbox" id="typeahead-23-9932" style="">
                     </ul>
                   </div>
                 </div>
               </div>
             </div>
             <div class="af-card accordiongroup-korkort">
               <a href="javascript:void(0)" (click)="showLicences = !showLicences">
                 <span id="rubrik-korkort" class="card-rubrik">
                   <h4>Körkort</h4>
                 </span>
                 <i class="pull-right fa {{!showLicences ? 'fa-angle-down' : 'fa-angle-up'}}"></i>
               </a>
               <div class="card-checkbox card-korkort {{!showLicences ? 'collapse' : ''}}">
                 <div class="ng-isolate-scope">
                   <ul class="list-unstyled">
                     <li ng-repeat="elem in korkorttyp" class="ng-scope">
                       <div class="row">
                         <span class="col-xs-12 korkortTypLabel ng-binding">Moped, motorcykel och traktor</span>
                       </div><!-- ngRepeat: item in elem.korkort -->
                       <span ng-repeat="item in elem.korkort" class="ng-scope">
                         <div class="col-xs-6 checkbox">
                           <div>
                             <input (change)="checkboxPropertyClick($event, '16', 'Körkort AM', 'KORKORT')" name="korkort_16" id="korkort_16" class="ng-pristine ng-untouched ng-valid ng-empty" type="checkbox">
                             <label class="korkortsklass ng-binding" for="korkort_16">AM</label>
                           </div>
                         </div>
                       </span>
                       <span ng-repeat="item in elem.korkort" class="ng-scope">
                         <div class="col-xs-6 checkbox">
                           <div>
                             <input (change)="checkboxPropertyClick($event, '2', 'Körkort A1', 'KORKORT')" name="korkort_2" id="korkort_2" class="ng-pristine ng-untouched ng-valid ng-empty" type="checkbox">
                             <label class="korkortsklass ng-binding" for="korkort_2">A1</label>
                           </div>
                         </div>
                       </span>
                       <span ng-repeat="item in elem.korkort" class="ng-scope">
                         <div class="col-xs-6 checkbox">
                           <div>
                             <input (change)="checkboxPropertyClick($event, '17', 'Körkort A2', 'KORKORT')" name="korkort_17" id="korkort_17" ng-disabled="model.korkortMap[item].isDisabled" ng-click="handleKorkortChange(model.korkortMap[item])" ng-model="model.korkortMap[item].isChecked" class="ng-pristine ng-untouched ng-valid ng-empty" type="checkbox">
                             <label class="korkortsklass ng-binding" ng-class="{'markTextOnCheck': model.korkortMap[item].isDisabled === true}" for="korkort_17">A2</label>
                           </div>
                         </div>
                       </span><!-- end ngRepeat: item in elem.korkort -->
                       <span ng-repeat="item in elem.korkort" class="ng-scope">
                         <div class="col-xs-6 checkbox">
                           <div>
                             <input (change)="checkboxPropertyClick($event, '10', 'Körkort A', 'KORKORT')" name="korkort_10" id="korkort_10" ng-disabled="model.korkortMap[item].isDisabled" ng-click="handleKorkortChange(model.korkortMap[item])" ng-model="model.korkortMap[item].isChecked" class="ng-pristine ng-untouched ng-valid ng-empty" type="checkbox">
                             <label class="korkortsklass ng-binding" ng-class="{'markTextOnCheck': model.korkortMap[item].isDisabled === true}" for="korkort_10">A</label>
                           </div>
                         </div>
                       </span><!-- end ngRepeat: item in elem.korkort -->
                     </li><!-- end ngRepeat: elem in korkorttyp -->
                     <li ng-repeat="elem in korkorttyp" class="ng-scope">
                       <div class="row">
                         <span class="col-xs-12 korkortTypLabel ng-binding">Personbil</span>
                       </div><!-- ngRepeat: item in elem.korkort -->
                       <span ng-repeat="item in elem.korkort" class="ng-scope">
                         <div class="col-xs-6 checkbox">
                           <div>
                             <input (change)="checkboxPropertyClick($event, '3', 'Körkort B', 'KORKORT')" name="korkort_3" id="korkort_3" ng-disabled="model.korkortMap[item].isDisabled" ng-click="handleKorkortChange(model.korkortMap[item])" ng-model="model.korkortMap[item].isChecked" class="ng-pristine ng-untouched ng-valid ng-empty" type="checkbox">
                             <label class="korkortsklass ng-binding" ng-class="{'markTextOnCheck': model.korkortMap[item].isDisabled === true}" for="korkort_3">B</label>
                           </div>
                         </div>
                       </span><!-- end ngRepeat: item in elem.korkort -->
                       <span ng-repeat="item in elem.korkort" class="ng-scope">
                         <div class="col-xs-6 checkbox">
                           <div>
                             <input (change)="checkboxPropertyClick($event, '18', 'Körkort Utökad B', 'KORKORT')" name="korkort_18" id="korkort_18" ng-disabled="model.korkortMap[item].isDisabled" ng-click="handleKorkortChange(model.korkortMap[item])" ng-model="model.korkortMap[item].isChecked" class="ng-pristine ng-untouched ng-valid ng-empty" type="checkbox">
                             <label class="korkortsklass ng-binding" ng-class="{'markTextOnCheck': model.korkortMap[item].isDisabled === true}" for="korkort_18">Utökad B</label>
                           </div>
                         </div>
                       </span><!-- end ngRepeat: item in elem.korkort -->
                       <span ng-repeat="item in elem.korkort" class="ng-scope">
                         <div class="col-xs-6 checkbox">
                           <div>
                             <input (change)="checkboxPropertyClick($event, '6', 'Körkort BE', 'KORKORT')" name="korkort_6" id="korkort_6" ng-disabled="model.korkortMap[item].isDisabled" ng-click="handleKorkortChange(model.korkortMap[item])" ng-model="model.korkortMap[item].isChecked" class="ng-pristine ng-untouched ng-valid ng-empty" type="checkbox">
                             <label class="korkortsklass ng-binding" ng-class="{'markTextOnCheck': model.korkortMap[item].isDisabled === true}" for="korkort_6">BE</label>
                           </div>
                         </div>
                       </span>
                     </li>
                     <li ng-repeat="elem in korkorttyp" class="ng-scope">
                       <div class="row">
                         <span class="col-xs-12 korkortTypLabel ng-binding">Lastbil</span>
                       </div>
                       <span ng-repeat="item in elem.korkort" class="ng-scope">
                         <div class="col-xs-6 checkbox">
                           <div>
                             <input (change)="checkboxPropertyClick($event, '4', 'Körkort C', 'KORKORT')" name="korkort_4" id="korkort_4" ng-disabled="model.korkortMap[item].isDisabled" ng-click="handleKorkortChange(model.korkortMap[item])" ng-model="model.korkortMap[item].isChecked" class="ng-pristine ng-untouched ng-valid ng-empty" type="checkbox">
                             <label class="korkortsklass ng-binding" ng-class="{'markTextOnCheck': model.korkortMap[item].isDisabled === true}" for="korkort_4">C</label>
                           </div>
                         </div>
                       </span>
                       <span ng-repeat="item in elem.korkort" class="ng-scope">
                         <div class="col-xs-6 checkbox">
                           <div>
                             <input (change)="checkboxPropertyClick($event, '12', 'Körkort C1', 'KORKORT')" name="korkort_12" id="korkort_12" ng-disabled="model.korkortMap[item].isDisabled" ng-click="handleKorkortChange(model.korkortMap[item])" ng-model="model.korkortMap[item].isChecked" class="ng-pristine ng-untouched ng-valid ng-empty" type="checkbox">
                             <label class="korkortsklass ng-binding" ng-class="{'markTextOnCheck': model.korkortMap[item].isDisabled === true}" for="korkort_12">C1</label>
                           </div>
                         </div>
                       </span>
                       <span ng-repeat="item in elem.korkort" class="ng-scope">
                         <div class="col-xs-6 checkbox">
                           <div>
                             <input (change)="checkboxPropertyClick($event, '14', 'Körkort C1E', 'KORKORT')" name="korkort_14" id="korkort_14" ng-disabled="model.korkortMap[item].isDisabled" ng-click="handleKorkortChange(model.korkortMap[item])" ng-model="model.korkortMap[item].isChecked" class="ng-pristine ng-untouched ng-valid ng-empty" type="checkbox">
                             <label class="korkortsklass ng-binding" ng-class="{'markTextOnCheck': model.korkortMap[item].isDisabled === true}" for="korkort_14">C1E</label>
                           </div>
                         </div>
                       </span>
                       <span ng-repeat="item in elem.korkort" class="ng-scope">
                         <div class="col-xs-6 checkbox">
                           <div>
                             <input (change)="checkboxPropertyClick($event, '7', 'Körkort CE', 'KORKORT')" name="korkort_7" id="korkort_7" ng-disabled="model.korkortMap[item].isDisabled" ng-click="handleKorkortChange(model.korkortMap[item])" ng-model="model.korkortMap[item].isChecked" class="ng-pristine ng-untouched ng-valid ng-empty" type="checkbox">
                             <label class="korkortsklass ng-binding" ng-class="{'markTextOnCheck': model.korkortMap[item].isDisabled === true}" for="korkort_7">CE</label>
                           </div>
                         </div>
                       </span>
                     </li>
                     <li ng-repeat="elem in korkorttyp" class="ng-scope">
                       <div class="row">
                         <span class="col-xs-12 korkortTypLabel ng-binding">Buss</span>
                       </div>
                       <span ng-repeat="item in elem.korkort" class="ng-scope">
                         <div class="col-xs-6 checkbox">
                           <div>
                             <input (change)="checkboxPropertyClick($event, '5', 'Körkort D', 'KORKORT')" name="korkort_5" id="korkort_5" ng-disabled="model.korkortMap[item].isDisabled" ng-click="handleKorkortChange(model.korkortMap[item])" ng-model="model.korkortMap[item].isChecked" class="ng-pristine ng-untouched ng-valid ng-empty" type="checkbox">
                             <label class="korkortsklass ng-binding" ng-class="{'markTextOnCheck': model.korkortMap[item].isDisabled === true}" for="korkort_5">D</label>
                           </div>
                         </div>
                       </span>
                       <span ng-repeat="item in elem.korkort" class="ng-scope">
                         <div class="col-xs-6 checkbox">
                           <div>
                             <input (change)="checkboxPropertyClick($event, '19', 'Körkort D1', 'KORKORT')" name="korkort_19" id="korkort_19" ng-disabled="model.korkortMap[item].isDisabled" ng-click="handleKorkortChange(model.korkortMap[item])" ng-model="model.korkortMap[item].isChecked" class="ng-pristine ng-untouched ng-valid ng-empty" type="checkbox">
                             <label class="korkortsklass ng-binding" ng-class="{'markTextOnCheck': model.korkortMap[item].isDisabled === true}" for="korkort_19">D1</label>
                           </div>
                         </div>
                       </span>
                       <span ng-repeat="item in elem.korkort" class="ng-scope">
                         <div class="col-xs-6 checkbox">
                           <div>
                             <input (change)="checkboxPropertyClick($event, '15', 'Körkort D1E', 'KORKORT')" name="korkort_15" id="korkort_15" ng-disabled="model.korkortMap[item].isDisabled" ng-click="handleKorkortChange(model.korkortMap[item])" ng-model="model.korkortMap[item].isChecked" class="ng-pristine ng-untouched ng-valid ng-empty" type="checkbox">
                             <label class="korkortsklass ng-binding" ng-class="{'markTextOnCheck': model.korkortMap[item].isDisabled === true}" for="korkort_15">D1E</label>
                           </div>
                         </div>
                       </span>
                       <span ng-repeat="item in elem.korkort" class="ng-scope">
                         <div class="col-xs-6 checkbox">
                           <div>
                             <input (change)="checkboxPropertyClick($event, '8', 'Körkort DE', 'KORKORT')" name="korkort_8" id="korkort_8" ng-disabled="model.korkortMap[item].isDisabled" ng-click="handleKorkortChange(model.korkortMap[item])" ng-model="model.korkortMap[item].isChecked" class="ng-pristine ng-untouched ng-valid ng-empty" type="checkbox">
                             <label class="korkortsklass ng-binding" ng-class="{'markTextOnCheck': model.korkortMap[item].isDisabled === true}" for="korkort_8">DE</label>
                           </div>
                         </div>
                       </span>
                     </li>
                   </ul>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
       <div class="resultatarea col-sm-12 col-md-7 col-lg-8 middle-column">
         <div id="ValdaKriterierContainer" class="col-xs-12 ng-scope" *ngIf="searchparameters.length > 0">
           <div class="af-card heading-main valdakriterier ng-scope ng-hide">
             <div class="card-header card-header-style">
               <a href="javascript:void(0)" (click)="showSearchCriteria = !showSearchCriteria" class="ng-binding">
                 Du har sökt på
                 <i class="pull-right fa {{showSearchCriteria ? 'fa-angle-up' : 'fa-angle-down'}}"></i>
               </a>
             </div>
             <div class="card-block clearfix in collapse" *ngIf="showSearchCriteria">
               <div class="col-xs-12 contentgroup ng-scope" *ngIf="searchparameters.length" style="">
                 <ul class="tag-list">
                   <li class="tag-item added repeated-item efterfragat ng-scope" *ngFor="let parameter of searchparameters">
                     <div class="kriteriumnamn ng-binding">{{parameter.namn}}</div>
                     <select title="radie" *ngIf="parameter.typ === 'GEOADRESS'"
                      class="ng-pristine ng-valid ng-scope ng-not-empty ng-touched" style=""
                      (change)="onPostalCodeDistanceChange($event.target.value, parameter)">
                      <option label="5 km" value="5" selected="selected">5 km</option>
                      <option label="10 km" value="10">10 km</option>
                      <option label="20 km" value="20">20 km</option>
                      <option label="50 km" value="50">50 km</option>
                      <option label="100 km" value="100">100 km</option>
                    </select>
                     <button (click)="removeFromListAndUnselect(parameter.varde, parameter.namn, parameter.typ)" class="btn-remove-tag">
                       <span class="sr-only">Ta bort</span> <i class="fa fa-remove" aria-hidden="true"></i>
                     </button>
                   </li>
                 </ul>
               </div>
             </div>
             <div class="card-footer clearfix ng-hide" *ngIf="showSearchCriteria">
               <div class="pull-right">
                 <a href="javascript:void(0)" id="rensaminaval" class="rensa" (click)="emptyList()">
                   <i class="fa fa-remove rensa-alla-val-text"></i>
                   Rensa alla val
                 </a>
               </div>
             </div>
           </div>
         </div>
         <div id="matchningsresultat" class="ng-scope col-lg-12">
           <div htmldocpagetitle="Platsbanken" class="ng-scope ng-isolate-scope ng-hide"></div>
           <div class="matchningsresultatmetadata ng-scope" *ngIf="!(searchparameters.length > 0)">
             <div class="empty-state">
               <div class="ingaprofilkriterier" role="status" aria-live="polite" aria-atomic="true" *ngIf="!searchparameters.length">
                 <div class="welcome-hint-container">
                   <div class="row">
                     <div class="col-lg-7">
                       <div>
                         <h2>Sök jobb i Platsbanken</h2>
                       </div>
                       <div>
                         <p>Skriv vad du vill jobba med och var i Sverige du söker jobb. Du kan söka flera yrken samtidigt. Lägg till dina kompetenser och erfarenheter så matchas du mot lediga jobb som passar just din profil.</p>
                         <p>Du kan även kryssa i rutan "Visa jobb utan krav på arbetslivserfarenhet" om du endast vill se lediga jobb som inte kräver någon arbetslivserfarenhet.</p>
                       </div>
                     </div>
                     <div class="col-lg-5 img-person-start">
                       <div class="text-center">
                         <img src="/images/hittaledigtarbete/person_start.svg" alt="Person med dator" class="welcome-hint-container-image img-person-start">
                       </div>
                     </div>
                   </div>
                 </div><!-- ngIf: !vm.isInloggad -->
                 <div class="welcome-hint-tips-container row ng-scope" data-ng-if="!vm.isInloggad">
                   <div class="col-lg-7">
                     <p>
                       <strong>TIPS!</strong> Platsbanken är bäst när du är inloggad. Då kan du:
                     </p>
                     <ul>
                       <li>Spara din sökning</li>
                       <li>Titta efter nya annonser utifrån de val du lagt in</li>
                       <li>Skapa en eller flera profiler som du kan göra sökbara för arbetsgivare som letar nya medarbetare</li>
                     </ul>
                     <a class="link" onclick="_AF.Auth.Login();" href="javascript:void(0)">Logga in</a>
                   </div>
                   <div class="col-lg-5">
                     <div class="text-center">
                       <img src="/images/hittaledigtarbete/nyckel.svg" alt="Nyckel" class="welcome-hint-container-image img-nyckel">
                     </div>
                   </div>
                 </div><!-- end ngIf: !vm.isInloggad -->
                 <div class="testers-tips-container">
                   <div class="row">
                     <div class="col-md-12">
                       <h2>Vill du hjälpa oss att förbättra Platsbanken?</h2>
                     </div>
                   </div>
                   <div class="row">
                     <div class="col-md-12">
                       <p>Vill du vara med att testa nya tjänster och funktioner på Arbetsförmedlingens webbplats? Befinner du dig i Stockholm? Skicka dina kontaktuppgifter till <a href="mailto:anvandartester@arbetsformedlingen.se?subject=Jag vill bidra">anvandartester@arbetsformedlingen.se</a> med rubriken "Jag vill bidra" senast den 15e oktober.</p>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
             </div>
             <div id="matchningsresultatarea" class="matchningsresultat ng-scope" *ngIf="searchResult.rekryteringsbehov.length > 0 && searchparameters.length > 0" style="">
              <div class="matchningsresultatmetadata ng-scope" ng-if="vm.rekryteringsbehovResultat.rekryteringsbehov.length > 0 || vm.sortVisaChoosen.value > 0" style="">
                  <h2 class="hittade-annonser" role="status" aria-live="polite" aria-atomic="true">
          			<span class="antalmatchande ng-binding">{{searchResult.antalRekryteringsbehov}}</span> hittade annonser
          		</h2>
              </div>
              <div class="resultat-sortering" ng-show="vm.sortVisaChoosen.id > 0 || vm.rekryteringsbehovResultat.rekryteringsbehov.length > 0" style="">
                  <div class="row dropdown-regular">
                      <div class="col-md-4 dropdown-right">
                          <label for="sort-ordning">Sortera efter</label>
                          <div uib-dropdown="" keyboard-nav="" class="dropdown">
                              <a href="" id="sort-ordning" class="spa-profile-heading dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                                  <span data-ng-if="vm.sortOrdningChoosen.namn" class="ng-binding ng-scope">Relevans</span>
                              </a>
                              <div class="spa-dropdown-menu dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="meny-dropdown">
                                  <ul class="list-unstyled spa-dropdown-list">
                                      <li ng-repeat="sort in vm.sortOrdningArr track by sort.id" class="ng-scope">
                                          <a href="" ng-click="vm.sorteraAnnonser(sort)" class="dropdownItem ng-binding selected" data-ng-class="{'selected':sort.namn===vm.sortOrdningChoosen.namn}">Relevans
								                          </a>
                                      </li>
                                      <li ng-repeat="sort in vm.sortOrdningArr track by sort.id" class="ng-scope"><a href="" ng-click="vm.sorteraAnnonser(sort)" class="dropdownItem ng-binding" data-ng-class="{'selected': sort.namn===vm.sortOrdningChoosen.namn}">Publiceringsdatum</a></li>
                                      <li ng-repeat="sort in vm.sortOrdningArr track by sort.id" class="ng-scope"><a href="" ng-click="vm.sorteraAnnonser(sort)" class="dropdownItem ng-binding" data-ng-class="{'selected': sort.namn===vm.sortOrdningChoosen.namn}">Sista ansökningsdag</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 dropdown-left">
                          <label for="meny-dropdown">Visa</label>
                          <div uib-dropdown="" keyboard-nav="" class="dropdown">
                              <a href="" id="meny-dropdown" class="spa-profile-heading dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                                  <span data-ng-if="vm.sortVisaChoosen.namn" class="ng-binding ng-scope">Alla annonser</span>
                              </a>
                              <div class="spa-dropdown-menu dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="meny-dropdown">
                                  <ul class="list-unstyled spa-dropdown-list">
                                      <li ng-repeat="datum in vm.sortVisaArr track by datum.id" class="ng-scope"><a href="" ng-click="vm.sortVisa(datum)" class="dropdownItem ng-binding selected" data-ng-class="{'selected': datum.namn===vm.sortVisaChoosen.namn}">Alla annonser</a></li>
                                      <li ng-repeat="datum in vm.sortVisaArr track by datum.id" class="ng-scope"><a href="" ng-click="vm.sortVisa(datum)" class="dropdownItem ng-binding" data-ng-class="{'selected': datum.namn===vm.sortVisaChoosen.namn}">Publicerade senaste dygnet</a></li>
                                      <li ng-repeat="datum in vm.sortVisaArr track by datum.id" class="ng-scope"><a href="" ng-click="vm.sortVisa(datum)" class="dropdownItem ng-binding" data-ng-class="{'selected': datum.namn===vm.sortVisaChoosen.namn}">Publicerade senaste veckan</a></li>
                                      <li ng-repeat="datum in vm.sortVisaArr track by datum.id" class="ng-scope"><a href="" ng-click="vm.sortVisa(datum)" class="dropdownItem ng-binding" data-ng-class="{'selected': datum.namn===vm.sortVisaChoosen.namn}">Publicerade senaste månaden</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4"></div>
                  </div>
                  <div class="row dropdown-small">
                      <button class="btn-chevron" data-ng-click="vm.toggle = !vm.toggle" data-ng-class="{'btn-chevron-toggled': vm.toggle}">Sortera och filtrera <span class="sr-only">Lägg till</span> <i class="fa fa-chevron-down" aria-hidden="true"></i> <i class="fa fa-chevron-up" aria-hidden="true"></i></button>
                      <div class="div-small" data-ng-class="{'div-small-toggled': vm.toggle}">
                          <div class="dropdown-right">
                              <label for="sort-ordning-resp">Sortera efter</label>
                              <div uib-dropdown="" keyboard-nav="" class="dropdown">
                                  <a href="" id="sort-ordning-resp" class="spa-profile-heading dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                                      <span data-ng-if="vm.sortOrdningChoosen.namn" class="ng-binding ng-scope">Relevans</span>
                                  </a>
                                  <div class="spa-dropdown-menu dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="meny-dropdown">
                                      <ul class="list-unstyled spa-dropdown-list">
                                          <li ng-repeat="sort in vm.sortOrdningArr track by sort.id" class="ng-scope"><a href="" ng-click="vm.sorteraAnnonser(sort)" class="dropdownItem ng-binding selected" data-ng-class="{'selected': sort.namn===vm.sortOrdningChoosen.namn}">Relevans</a></li>
                                          <li ng-repeat="sort in vm.sortOrdningArr track by sort.id" class="ng-scope"><a href="" ng-click="vm.sorteraAnnonser(sort)" class="dropdownItem ng-binding" data-ng-class="{'selected': sort.namn===vm.sortOrdningChoosen.namn}">Publiceringsdatum</a></li>
                                          <li ng-repeat="sort in vm.sortOrdningArr track by sort.id" class="ng-scope"><a href="" ng-click="vm.sorteraAnnonser(sort)" class="dropdownItem ng-binding" data-ng-class="{'selected': sort.namn===vm.sortOrdningChoosen.namn}">Sista ansökningsdag</a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="dropdown-left">
                              <label for="meny-dropdown-resp">Visa</label>
                              <div uib-dropdown="" keyboard-nav="" class="dropdown">
                                  <a href="" id="meny-dropdown-resp" class="spa-profile-heading dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                                      <span data-ng-if="vm.sortVisaChoosen.namn" class="ng-binding ng-scope">Alla annonser</span>
                                  </a>
                                  <div class="spa-dropdown-menu dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="meny-dropdown">
                                      <ul class="list-unstyled spa-dropdown-list">
                                          <li ng-repeat="datum in vm.sortVisaArr track by datum.id" class="ng-scope"><a href="" ng-click="vm.sortVisa(datum)" data-ng-model="vm.sortVisaChoosen" class="dropdownItem ng-pristine ng-untouched ng-valid ng-binding ng-not-empty selected" data-ng-class="{'selected': datum.namn===vm.sortVisaChoosen.namn}">Alla annonser</a></li>
                                          <li ng-repeat="datum in vm.sortVisaArr track by datum.id" class="ng-scope"><a href="" ng-click="vm.sortVisa(datum)" data-ng-model="vm.sortVisaChoosen" class="dropdownItem ng-pristine ng-untouched ng-valid ng-binding ng-not-empty" data-ng-class="{'selected': datum.namn===vm.sortVisaChoosen.namn}">Publicerade senaste dygnet</a></li>
                                          <li ng-repeat="datum in vm.sortVisaArr track by datum.id" class="ng-scope"><a href="" ng-click="vm.sortVisa(datum)" data-ng-model="vm.sortVisaChoosen" class="dropdownItem ng-pristine ng-untouched ng-valid ng-binding ng-not-empty" data-ng-class="{'selected': datum.namn===vm.sortVisaChoosen.namn}">Publicerade senaste veckan</a></li>
                                          <li ng-repeat="datum in vm.sortVisaArr track by datum.id" class="ng-scope"><a href="" ng-click="vm.sortVisa(datum)" data-ng-model="vm.sortVisaChoosen" class="dropdownItem ng-pristine ng-untouched ng-valid ng-binding ng-not-empty" data-ng-class="{'selected': datum.namn===vm.sortVisaChoosen.namn}">Publicerade senaste månaden</a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <a href="" (click)="$event.preventDefault(); listIsCompact = !listIsCompact;" class="more-less ng-binding">
                    <i ng-class="{'fa fa-th-list':vm.isCompact, 'fa fa-list': !vm.isCompact}" class="fa fa-list {{listIsCompact ? 'fa-th-list' : 'fa-list'}}"></i>
                    <span *ngIf="!listIsCompact">Visa mindre</span>
                    <span *ngIf="listIsCompact">Visa större</span>
                  </a>
                </div>
                <div *ngFor="let behov of searchResult.rekryteringsbehov" ui-sref="rekryteringsbehov.visarekryteringsbehov({id: rekryteringsbehov.id})" ng-click="vm.setVisited(rekryteringsbehov.id); vm.setUpResultatIndexForList(rekryteringsbehov.id)" href="/Tjanster/Arbetssokande/Platsbanken/annonser/21232941" class="resultatrad ng-scope">
                    <div class="annons-info">
                        <h3>
                          <a href="https://www.arbetsformedlingen.se/Tjanster/Arbetssokande/Platsbanken/annonser/{{behov.id}}" target="_blank" id="annons_{{behov.id}}" ng-click="vm.setVisited(rekryteringsbehov.id)" class="rubrik" ng-class="{'visited': vm.checkVisited(rekryteringsbehov.id)}">
                            <span class="ng-binding">{{behov.rubrik}}</span>
                            <span class="sr-only ng-binding">- {{behov.arbetsgivarenamn}}</span>
                          </a>
                        </h3>
                        <div class="arbetsgivarenamn-kommun ng-hide" *ngIf="listIsCompact">
                          <span class="ng-binding">{{behov.arbetsgivarenamn}}</span><span *ngIf="behov.erbjudenArbetsplats && behov.erbjudenArbetsplats.kommun">,</span>
                          <span class="rekryteringsbehov-kommun ng-binding" *ngIf="behov.erbjudenArbetsplats && behov.erbjudenArbetsplats.kommun">{{behov.erbjudenArbetsplats.kommun.namn}}</span>
                        </div>
                        <div class="arbetsgivarenamn" *ngIf="!listIsCompact"><span class="label">Företag:</span> <span class="ng-binding">{{behov.arbetsgivarenamn}}</span></div>
                        <div class="rekryteringsbehov-kommun-row" *ngIf="behov.erbjudenArbetsplats && behov.erbjudenArbetsplats.kommun && !listIsCompact">
                          <span class="label ng-binding">Kommun:</span>
                          <span class="rekryteringsbehov-kommun ng-binding">{{behov.erbjudenArbetsplats.kommun.namn}}</span>
                        </div>
                        <div class="short-list" *ngIf="!listIsCompact">
                            <div *ngIf="behov.yrkesroll"><span class="label">Yrkesroll:</span><span class="yrkesroll ng-binding">{{behov.yrkesroll.namn}}</span></div>
                            <div *ngIf="behov.arbetsomfattning || behov.varaktighet" class="ng-scope">
                              <span class="label">Anställningsform:</span>
                              <span class="ng-binding"><span *ngIf="behov.arbetsomfattning">{{formatJobTime(behov.arbetsomfattning.min, behov.arbetsomfattning.max)}}</span><span *ngIf="behov.varaktighet">{{behov.varaktighet.namn}}</span></span></div>
                            <div data-ng-if="rekryteringsbehov.getPubliceringsdatumText().length > 0" class="ng-scope"><span class="label">Publicerad:</span><span class="publiceringsdatum ng-binding">{{getFormattedDate(behov.publiceringsdatum)}}</span></div>
                            <span class="sok-senast ng-scope" data-ng-if="rekryteringsbehov.sistaAnsokningsdatum"><span class="label">Sök jobbet senast:</span><span class="ansokningsdatum ng-binding">{{getFormattedDate(behov.sistaAnsokningsdatum)}}</span></span>
                        </div>
                        <!-- <span ng-show="vm.isInloggad" class="spara-annons ng-hide">
                          <button ng-click="vm.toggleSparaAnnons(rekryteringsbehov, $event);" class="spara-annons-btn">
                            <span ng-hide="rekryteringsbehov.stored" class="">
                              <i class="i-star-off"></i>Spara jobbet
                            </span>
                            <span ng-show="rekryteringsbehov.stored" class="sparad ng-hide">
                              <i class="i-star-on"></i>Jobbet är sparat</span>
                            </button>
                        </span> -->
                    </div>
                </div>

                <div class="navigation col-lg-12">
                  <div class="carousel-control-prev {{adsPageNumber > 0 ? '' : 'inactive'}}" role="button" data-slide="prev" (click)="previousAdsPage()">
                    <span class="caorusel-control-prev-text textButton icon left chevronLeftIcon">Föregående</span>
                    <span class="sr-only">Föregående</span>
                  </div>
                  <div class="numbers">{{adsPageNumber + 1}} av {{numberOfPages}}</div>
                  <div class="carousel-control-next {{showNextButton ? '' : 'inactive'}}" role="button" data-slide="next" (click)="nextAdsPage()">
                    <span class="caorusel-control-next-text textButton icon right chevronRightIcon">Nästa</span>
                    <span class="sr-only">Nästa</span>
                  </div>
                </div>

                <div ng-if="vm.showGotoTop()" class="ng-scope" style="">
                  <a href="javascript:void(0)" (click)="topFunction()" class="top-of-page"><span aria-hidden="true"></span>Till toppen av sidan</a>
                </div>
            </div>

             <div class="matchningsresultatfooter ng-scope"></div>
           </div>
         </div>
       </div>
     </div>
   </div>
