@import '../../styles/globalstyles';
.row {
  width: 100%;
}

.af-card {
  overflow: hidden;
}

.as-matcha .matchningsprofil .mp-yrke-ort {
  padding: 0;
}

#JobOrContainer {
  text-align: center;
  margin: 20px 0;
}

#JobAreasContainer {
  background: #FFF;
  border: 1px solid #666;
  border-radius: 5px;
}

.hasChildren {
  float: right;
  font-size: 17px;
  font-weight: bolder;
  text-align: center;
  &::after {
    content: '\f107';
    color: #057aa9;
    font-size: 20px;
  }
  &.expanded {
    &::after {
      content: '\f106';
      // font-size: 25px;
      line-height: 17px;
      vertical-align: text-top;
    }
  }
}

#JobAreasToggle {
  padding: 5px;
  cursor: pointer;
  > div {
    display: inline-block;
  }
  .name {
    width: calc(100% - 30px);
  }
  .hasChildren {
    height: 30px;
    width: 30px;
    float: right;
    padding-top: 2px;
    &::after {
      color: #000;
    }
  }
}

#af-villkor-omfattning-slider {
  margin-top: 50px;
}

.list-level-1 {
  border-top: #b5b5b5 solid 1px;
  padding-top: 0;
  > ul {
    padding-left: 0;
    margin-bottom: 0;
    > li {
      &:last-child .checkbox {
        border-radius: 0 0 5px 5px;
      }
    }
  } .liContent {
    padding: 0 5px;
  }
  .checkbox {
    // padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    margin-top: 1px;
    position: relative;
    &.hilight {
      background: #c1e4f6;
    }
    label {
      margin-top: 10px;
      margin-bottom: 10px;
      &::before {
        width: 18px;
        height: 18px;
        top: 12px;
        left: 10px;
      }
      &::after {
        top: 17px;
        left: 14px;
      }
      &.minus {
        &::before {
          content: '-';
          font-size: 49px;
          line-height: 6px;
          text-align: center;
        }
      }
    }
  }
  li {
    &:first-child .checkbox {
      margin-top: 0;
    }
  }
  .name {
    max-width: calc(100% - 30px);
  }
  ul {
    list-style-type: none;
    > li > div > div {
      display: inline-block;
    }
    .hasChildren {
      height: 100%;
      width: 40px;
      background-color: #FFF;
      padding-top: 10px;
      padding-bottom: 7px;
      display: inline-block;
      overflow: hidden;
      position: absolute;
      right: 0;
    }
    li {
      cursor: pointer;
    }
  }
  .list-level-2 {
    padding: 0;
    border-top: #b5b5b5 solid 1px;
    border-bottom: #b5b5b5 solid 1px;
    > li {
      > .checkbox {
        padding-left: 20px;
        > label {
          &::before {
            left: 20px;
          }
          &::after {
            left: 24px;
          }
        }
      }
    }
  }

  .list-level-3 {
    background: #f2f4f5;
    padding: 10px 0;
    > li {
      > .checkbox {
        padding-left: 20px;
        padding-right: 0;
        margin-top: 1px;
        > label {
          &::before {
            left: 20px;
          }
          &::after {
            left: 24px;
          }
        }
      }
      &:first-child .checkbox {
        margin-top: 0;
      }
    }
  }
}

.dropdown-toggle {
  &::after {
    border-top: 0;
    right: 20px !important;
  }
}

.carousel-control-next,
.carousel-control-prev {
  position: relative;
  top: 0;
  bottom: 0;
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 125px;
  color: #1089B0;
  text-align: center;
  opacity: 1;
  background-color: #f2f4f5;
  border-radius: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  &:hover {
    background-color: #FFF;
  }
  &.inactive {
    cursor: default;
    span {
      display: none;
    }
  }
}

.carousel-control-prev {
  float: left;
  font-weight: normal;
}
.caorusel-control-prev-text {
  font-weight: normal;
}
.numbers {
  display: inline-block;
  margin: 0 auto;
  margin-top: 7px;
  text-align: center;
  width: calc(100% - 250px);
}

.carousel-control-next {
  float: right;
}

.caorusel-control-next-text {
  padding-right: 10px;
  font-weight: normal;
}

.carousel-item-next,
.carousel-item-prev {
  display: block;
}
.carousel-item {
  .active {
    display: block;
  }
}
