/* You can add global styles to this file, and also import other style files */

@import './variables';
@import './mixins';
@import './color-variables.scss';

@import './valj-fran-lista.scss';

.pb {

  .no-padding {
    padding: 0px;
  }

  :focus {
    outline: none;
  }

  .pb-search {
    border-radius: 0px;
    height: $search-list-height;
    font-size: 19px;
    width: 100%;

    .ui-corner-all {
        border-radius: 0px;
    }

    input {
        width: 100%;
        height: inherit;
    }

    .ui-inputtext {
        padding: 0px;
        padding-left: 15px;
    }

    .ui-autocomplete-input-token {
        padding: 0px;
    }

    .ui-autocomplete-panel .ui-autocomplete-list {
        padding: 0px;
    }

    .ui-widget {
      font-family: "Open sans", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      &::placeholder {
        font-weight: 300;
        font-family: 20px;
      }
    }
    .ui-widget-content {
        box-shadow: none;
    }

    .ui-state-highlight {
        background-color: $gray-5;
        color: $black-10;
    }

    .pb-search-suggestion {
        font-size: 15px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
  }
    
  a.chevron-link {
    display: block;
    position: relative;
    margin: 21px 0 21px 21px;
    font-size: 20px;
    color: #06769f;
    text-decoration: none;
    line-height: 1.428571429;
  
    &::before {
      position: absolute;
      content: "";
      left: -21px;
      width: 8px;
      height: 11px;
      top: 9px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='10' viewBox='0 0 7 10'%3E%3Cpath fill='%2313769D' fill-rule='nonzero' d='M0 8.573c0-.107.043-.201.128-.278L3.716 5 .128 1.706a.366.366 0 0 1 0-.558L1.25.118A.433.433 0 0 1 1.554 0c.117 0 .219.04.304.118L6.872 4.72a.369.369 0 0 1 .001.558L1.86 9.883a.438.438 0 0 1-.304.117.442.442 0 0 1-.304-.117L.129 8.853A.367.367 0 0 1 0 8.573z'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      transition: 50ms transform ease-in-out;
    }
    &:hover::before {
      transform: translateX(4px);
    }
  }
    
  // Checkboxes
  .ui-chkbox-box {
    box-shadow:none;
    border-radius: 5px;
    width: 24px;
    height: 24px;
    border: 1px solid black;
    background: $white-base;

    &.ui-state-default {
      border-radius: 5px;
      width: 24px;
      height: 24px;
      border: 1px solid black;
    }

    &.ui-state-active {
      box-shadow:none;
      border-radius: 5px;
      width: 24px;
      height: 24px;
      color: black;
      background: $white-base;
      border: 1px solid black;
    }

    &.ui-state-focus {
      box-shadow:none;
      border-radius: 5px;
      width: 24px;
      height: 24px;
      color: black;
      background: $white-base;
      border: 1px solid black;
    }

    &.ui-chkbox-box.ui-state-focus.ui-state-active {
      border-radius: 5px;
      width: 24px;
      height: 24px;
      background: $white-base;
      border: 1px solid black;
    }
  
  }
    
  .ui-chkbox-box:not(.ui-state-disabled):not(.ui-state-active):hover {
    border-radius: 5px;
    width: 24px;
    height: 24px;
    color: black;
    border-color: black;
    background: $white-base;
  }
  
  .ui-chkbox {
    .ui-chkbox-icon {
      margin-top: 4px;
    }
  }
  
  .ui-chkbox-label {
    display: inline;
    margin-left: 5px;
    font-size: 15px;
    vertical-align: middle;
    font-weight: 600;
  }
    
  // Global search button styling.
  .first-search-field-wrapper {
    padding-right: 0px;
    @media (min-width: 768px) { 
      padding-left: 0px; 
    }
    @media (min-width: 992px) {
      padding-left: 15px;
    }
  }

  .pb-search-btn-wrapper {
    padding-left: 0px;
    @media (min-width: 768px) { 
      padding-right: 0px; 
    }
    @media (min-width: 992px) {
      padding-right: 15px;
    }
  }

  .pb-new-search-button {
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-width: 0px;
    font-weight: normal;
    color: white;
    text-align: center;
    background-color: #2d860a;

    height: $search-list-height;
    width: 100%;

    p {
      color: white;
      font-size: 26px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  .pb-search-button {
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid rgb(46, 172, 34);

    display: inline-block;
    width: 15%;
    font-weight: normal;
    color: white;
    text-align: center;
    background-color: #2d860a;
    margin-left: -5px;
    padding-bottom: 6px;
    height: $search-list-height;

    p {
      color: white;
      font-size: 26px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
  
  .pb-search-expand-button {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 42%;
    border-radius: 4px;
  }
  
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
  
  .js-rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform:    rotate(180deg);
    -ms-transform:     rotate(180deg);
    -o-transform:      rotate(180deg);
    transform:         rotate(180deg);
  }
}

