<section class="search">
    <div class="container">
      <div class="alwaysvisible">
          <div class="row introduction">
            <div class="col-md-6">
              <h1 class="welcome">Välkommen till Platsbanken</h1>
              <h1>Just nu finns det <span class="bold">{{ antalLedigaJobb }} </span>lediga jobb</h1>
              <p>Skriv vad du vill jobba med och var i Sverige du söker jobb. Du kan söka flera yrken samtidigt. Lägg till dina kompetenser.</p>
            </div>
            <div class="col-md-6">
              <img src="./assets/img/searchman.svg" class="searchman">
            </div>
          </div>

          <div class="row searchlabels">
            <div class="col-md-12">
              <label class="pb-search-list-label-width"></label>
              <label class="pb-search-field-label pb-search-field-label-width">Jag vill jobba som...</label>
              <label class="pb-search-field-label pb-search-field-label-width">Jag vill jobba i...</label>
              <!-- <label class="pb-search-button-label-width"></label> -->
            </div>
          </div>

          <div class="row searchfields">
              <div class="col-md-12">

                <div style="position: relative;">

                  <!-- Choose from list -->
                  <button class="pb-search-list-accordion" type="button" (click)="showPickFromList = !showPickFromList" [ngClass]="{open: showPickFromList, closed: !showPickFromList}" aria-expanded="false" aria-controls="valjFranLista">
                    <p class="text-center">Välj från lista <i class="fa fa-angle-down"></i></p>
                    <div class="closed" id="valj-fran-lista" [ngClass]="{open: showPickFromList, closed: !showPickFromList}">
                      <div class="backdrop"></div>
                      <app-component-valj-fran-lista></app-component-valj-fran-lista>
                    </div>
                  </button>

                  <!-- Yrken search : ) -->
                  <p-autoComplete
                    [(ngModel)]="valYrken"
                    [suggestions]="yrkenResults"
                    (completeMethod)="searchYrken($event)"
                    field="namn"
                    id="search-yrken"
                    styleClass="pb-search"
                    (onSelect)="yrkenAddValue($event)"
                    (onFocus)="focusYrkenSearch($event)"
                    (onBlur)="blurYrkenSearch($event)"
                    placeholder="Skriv t.ex. 'Sandwhichman'..">

                    <ng-template let-valYrken pTemplate="item">
                      <div class="ui-helper-clearfix pb-search-suggestion">
                        <span class="float-left">{{ valYrken.namn }}</span>
                        <span class="float-right">{{ valYrken.typ }}</span>
                      </div>
                    </ng-template>

                  </p-autoComplete>

                  <div *ngIf="showYrkenCriteria && chosenYrken.length > 0" id="chosenYrkenCriteria">
                    <div *ngFor="let profilkriterium of chosenYrken" class="chosenCriteriaTag" [ngClass]="{ fritextCriteriaTag: profilkriterium.typ === 'fritext' }">
                      <div data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                          {{ profilkriterium.namn }}
                          <i class="fa fa-close" (click)="removeYrkenCriteria(profilkriterium)"></i>
                      </div>
                    </div>
                  </div>

                  <!-- Ort search -->
                  <p-autoComplete
                    [(ngModel)]="valOrter"
                    [suggestions]="orterResults"
                    (completeMethod)="searchOrter($event)"
                    field="namn"
                    id="search-orter"
                    styleClass="pb-search"
                    (onSelect)="orterAddValue($event)"
                    (onFocus)="focusOrterSearch($event)"
                    (onBlur)="blurOrterSearch($event)"
                    placeholder="Skriv t.ex. 'Västerås'..">

                    <ng-template let-valOrter pTemplate="item">
                      <div class="ui-helper-clearfix pb-search-suggestion">
                        <span class="float-left">{{ valOrter.namn }}</span>
                        <span class="float-right">{{ valOrter.typ }}</span>
                      </div>
                    </ng-template>

                  </p-autoComplete>

                  <div *ngIf="showOrterCriteria && chosenOrter.length > 0" id="chosenOrterCriteria">
                    <div *ngFor="let profilkriterium of chosenOrter" class="chosenCriteriaTag" [ngClass]="{ fritextCriteriaTag: profilkriterium.typ === 'fritext' }">
                      <div data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        {{ profilkriterium.namn }}
                        <i class="fa fa-close" (click)="removeOrterCriteria(profilkriterium)"></i>
                      </div>
                    </div>
                  </div>

                  <button class="pb-search-button pb-search-button-width">
                    <p class="text-center">Sök</p>
                  </button>

                </div>
              </div>
          </div>

          <div class="row chosen-criteria-tags">
            <div class="col-md-6">
              <div class="chosenYrkenContainer" *ngIf="chosenYrken.length > 0 && !showYrkenCriteria">
                <div class="float-left active-yrken-pill">
                  <span>{{ chosenYrken[0].namn }}</span>
                  <span class="active-yrken-pill-number" *ngIf="chosenYrken.length > 1">+{{ chosenYrken.length - 1 }}</span>
                  <i class="fa fa-close" (click)="removeFromChosenYrken()"></i>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="chosenOrterContainer" *ngIf="chosenOrter.length > 0 && !showOrterCriteria">
                <div class="float-left active-yrken-pill">
                  <span>{{ chosenOrter[0].namn }}</span>
                  <span class="active-yrken-pill-number" *ngIf="chosenOrter.length > 1">+{{ chosenOrter.length - 1 }}</span>
                  <i class="fa fa-close" (click)="removeFromChosenOrter()"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="collapse" id="valjFranLista">
                <h2>Darkness has come.</h2>
                <p>And we are the only way out!</p>
              </div>
            </div>
          </div>

      </div>

      <div class="row">
        <div class="col-md-12">
            <button class="search-expand-button" type="button" data-toggle="collapse" data-target="#expandSearch" aria-expanded="false" aria-controls="expandSearch">
                <p class="text-center search-expand-button-text"><i class="fa fa-angle-down js-rotate-if-collapsed"></i>Se fler sökkriterier</p>
            </button>

            <div class="collapse" id="expandSearch">
              <app-component-search-expand></app-component-search-expand>
            </div>

        </div>
      </div>
    </div>
</section>
