<section class="search">
    <div class="container">
      <div class="alwaysvisible">
          <div class="row introduction">
            <div class="col-md-6">
              <h1 class="welcome">Välkommen till Platsbanken</h1>
              <h1>Just nu finns det <span class="bold">{{ antalLedigaJobb }} </span>lediga jobb</h1>
              <p>Skriv vad du vill jobba med och var i Sverige du söker jobb. Du kan söka flera yrken samtidigt. Lägg till dina kompetenser.</p>
            </div>    
            <div class="col-md-6">
              <img src="./assets/img/searchman.svg" class="searchman">
            </div>
          </div>
          <div class="row searchfields">
            <div class="col-md-12">

<!-- Large button group -->
<div class="btn-group">
  <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Large button <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    ...
  </ul>
</div>

            </div>
          </div>
      </div>


      <div class="row">
        <div class="col-md-12">
          <div class="foldout-wrapper">
            <input id="search-expand" type="checkbox" name="foldout-wrappers">
            <label for="search-expand" class="search-expand-label"><p class="search-expand-label-text">Expand search</p></label>

            <div class="foldout">
                <!-- Content that folds out. -->
                <div class="row">
                  <div class="col-md-12 foldout-content">
                    <h2>All of the unfolding content</h2>
                    <p>Bacon ipsum dolor amet frankfurter short ribs corned beef, meatloaf filet mignon doner landjaeger swine biltong chuck. Pork loin kielbasa rump, biltong tenderloin spare ribs buffalo doner beef pork belly porchetta prosciutto. Sausage venison prosciutto picanha brisket cupim spare ribs, cow pork chop tail sirloin. Landjaeger kielbasa venison spare ribs. Rump meatloaf flank, jowl tenderloin shank shoulder brisket leberkas strip steak ribeye biltong hamburger cow short ribs.</p>
                    <p>Chicken landjaeger short loin tail. Pork belly shoulder tongue salami buffalo, bresaola t-bone kevin. Tail chuck turducken, pancetta turkey ground round burgdoggen kielbasa pork swine boudin. Porchetta jowl leberkas, swine pork boudin hamburger filet mignon chuck shank. Cupim hamburger landjaeger shank picanha. Landjaeger turducken andouille, buffalo biltong bacon kielbasa strip steak filet mignon ribeye short ribs corned beef flank sausage turkey.</p>
                  </div>
                </div>
            </div>

          </div>
        </div>
      </div>
    </div>
</section>

