<section class="search">
    <div class="container">
      <div class="alwaysvisible">
          <div class="row introduction">
            <div class="col-md-6">
              <h1 class="welcome">Välkommen till Platsbanken</h1>
              <h1>Just nu finns det <span class="bold">{{ antalLedigaJobb }} </span>lediga jobb</h1>
              <p>Skriv vad du vill jobba med och var i Sverige du söker jobb. Du kan söka flera yrken samtidigt. Lägg till dina kompetenser.</p>
            </div>    
            <div class="col-md-6">
              <img src="./assets/img/searchman.svg" class="searchman">
            </div>
          </div>

          <div class="row searchlabels"> 
            <div class="col-md-12">
              <label class="pb-search-list-label-width"></label>
              <label class="pb-search-field-label-width">Jag vill jobba som...</label>
              <label class="pb-search-field-label-width">Jag vill jobba i...</label>
              <!-- <label class="pb-search-button-label-width"></label> -->
            </div>
          </div>

          <div class="row searchfields">
              <div class="col-md-12">
                
                <div style="position: relative;">

                  <button class="pb-search-list-accordion" type="button" data-toggle="collapse" data-target="#valjFranLista" aria-expanded="false" aria-controls="valjFranLista">
                    <p class="text-center">Välj från lista <i class="fa fa-angle-down"></i></p>
                  </button>                  

                  <p-autoComplete 
                    [(ngModel)]="val" 
                    [suggestions]="results" 
                    (completeMethod)="search($event)"
                    field="namn"
                    id="search-yrken"
                    styleClass="pb-search"
                    (onSelect)="yrkenAddValue($event)"
                    (onFocus)="focusSearch($event)"
                    (onBlur)="blurSearch($event)"
                    placeholder="Skriv t.ex. 'Sandwhichman'..">

                    <ng-template let-val pTemplate="item">
                      <div class="ui-helper-clearfix pb-search-suggestion">
                        <span class="float-left">{{ val.namn }}</span>
                        <span class="float-right">{{ val.typ }}</span>
                      </div>
                    </ng-template>

                  </p-autoComplete>
                  
                  <div *ngIf="showCriteria && chosenYrken.length > 0" id="chosenYrkenCriteria">
                    <div *ngFor="let profilkriterium of chosenYrken" class="chosenCriteriaTag"> 
                      {{ profilkriterium.namn }}
                      <i class="fa fa-close" (click)="removeCriteria(profilkriterium)"></i>
                    </div>
                  </div>

                  <input type="text" class="pb-search-field" placeholder="Skriv t.ex. 'Västerås'.." aria-describedby="sizing-addon1">
                  <button class="pb-search-button pb-search-button-width">
                    <p class="text-center">Sök</p>
                  </button>
  
                  <div class="collapse" id="valjFranLista">
                    <h2>Darkness has come.</h2>
                    <p>And we are the only way out!</p>
                  </div>
                  
                </div>          

              </div>
          </div>
          
      </div>

      <div class="row">
        <div class="col-md-12">
            <button class="search-expand-button" type="button" data-toggle="collapse" data-target="#expandSearch" aria-expanded="false" aria-controls="expandSearch">
                <p class="text-center search-expand-button-text"><i class="fa fa-angle-down"></i>Se fler sökkriterier</p>
            </button>

            <div class="collapse " id="expandSearch">
              <h2>All of the unfolding content</h2>
              <p>Bacon ipsum dolor amet frankfurter short ribs corned beef, meatloaf filet mignon doner landjaeger swine biltong chuck. Pork loin kielbasa rump, biltong tenderloin spare ribs buffalo doner beef pork belly porchetta prosciutto. Sausage venison prosciutto picanha brisket cupim spare ribs, cow pork chop tail sirloin. Landjaeger kielbasa venison spare ribs. Rump meatloaf flank, jowl tenderloin shank shoulder brisket leberkas strip steak ribeye biltong hamburger cow short ribs.</p>
              <p>Chicken landjaeger short loin tail. Pork belly shoulder tongue salami buffalo, bresaola t-bone kevin. Tail chuck turducken, pancetta turkey ground round burgdoggen kielbasa pork swine boudin. Porchetta jowl leberkas, swine pork boudin hamburger filet mignon chuck shank. Cupim hamburger landjaeger shank picanha. Landjaeger turducken andouille, buffalo biltong bacon kielbasa strip steak filet mignon ribeye short ribs corned beef flank sausage turkey.</p>
            </div>

        </div>
      </div>
    </div>
</section>

