@import '../../sass/color-variables.scss';

.search {
    background-color: $gray-10;

    .alwaysvisible {
        padding-top: 20px;
        padding-bottom: 20px;

        .introduction {
            margin-bottom: 20px;

            .searchman {
                height: auto;
                width: auto;
                display: block;
                margin: auto;
            }

            h1:first-of-type {
                margin-top: 1em;
            }

            h1 {
                margin-top: 0px;
                font-size: 45px;
                .bold {
                    font-weight: 400;
                }
            }

            p {
                margin-top: 2em;
                font-size: 21px;
                font-weight: 300;
            }
        }

        .searchlabels {
            .pb-search-list-label-width {
                width: 20%;
            }
            .pb-search-field-label-width {
                width: 31%;
            }
        }

        .searchfields {
            margin-bottom: 20px;

            p {
                margin-top: 0px;
                margin-bottom: 0px;
                font-size: 19px;
                @media only screen and (max-width : 1200px) { font-size: 19px; }
                @media only screen and (max-width : 992px) { font-size: 17px; }
                @media only screen and (max-width : 768px) { font-size: 15px; }
            }

            .pb-search-list-accordion {
                border-radius: 4px;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                border: 1px solid #ccc;

                font-weight: normal;
                color: #555555;
                text-align: center;
                background-color: #eeeeee;
                width: 20%;
                display: inline-block;
                height: 60px;
                padding-bottom: 1px;

                i.fa {
                    position: relative;
                    transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
                }

            }

            .pb-search-list-accordion:hover {
                i.fa {
                    background-color: transparent;
                    transform: rotate(-360deg);
                    cursor: pointer;
                    box-shadow: none;
                }
                p {
                    color: $blue-base;
                    -webkit-transition: color .2s ease-in-out;
                    -moz-transition: color .2s ease-in-out;
                      -o-transition: color .2s ease-in-out;
                         transition: color .2s ease-in-out;
                }
            }


            .pb-search-field {
                height: 60px;
                width: 31%;
                display: inline-block;
                margin-left: -5px;
                border: 1px solid #ccc;
                border-radius: 0px;

                padding: 0px 12px;
                font-size: 19px;
            }
            .pb-search-field:focus {
                outline-style: solid;
                outline-color: orange;
                outline-width: 1px;
            }

            .pb-search-button {
                border-radius: 4px;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                border: 1px solid rgb(46, 172, 34);

                display: inline-block;
                width: 18%;
                font-weight: normal;
                color: white;
                text-align: center;
                background-color: rgb(46, 172, 34);
                margin-left: -5px;
                padding-bottom: 1px;
                height: 60px;

                p {
                    color: white;
                }
            }
        }

    }

    .search-expand-button {
        height: 40px;
        width: 250px;
        border-radius: 5px;
        border: 0px;
        background-color: $gray-10;

        position: absolute;
        right: 15px;
        bottom: -20px;
        z-index: 1;

        .search-expand-button-text {
            color: rgb(46, 172, 34);
            padding-top: 3px;

            i {
                font-weight: bolder;
                margin-right: 20px;
            }
        }
    }
}
