<div class="lists row">
  <div class="col-md-6">
    <ul class="list list-1">
      <li *ngFor="let omrade of yrkesHierarki">
       {{ omrade.namn }}
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="list list-2">
      <li>Tja 1</li>
      <li>Tja 2</li>
      <li>Tja 3</li>
      <li>Tja 4</li>
      <li>Tja 5</li>
      <li>Tja 6</li>
      <li>Tja 7</li>
      <li>Tja 8</li>
      <li>Tja 9</li>
      <li>Tja 10</li>
      <li>Tja 11</li>
      <li>Tja 12</li>
      <li>Tja 13</li>
      <li>Tja 14</li>
      <li>Tja 15</li>
      <li>Tja 16</li>
      <li>Tja 17</li>
      <li>Tja 18</li>
      <li>Tja 19</li>
      <li>Tja 20</li>
    </ul>
  </div>
</div>