@import '../../sass/variables.scss';
@import '../../sass/color-variables.scss';

.lists {
    background: $white-base;
    position: absolute;
    z-index: 1000000;
    width: 1140px;
    border: 1px solid rgb(204, 204, 204);
    z-index: 10;
    margin-left: 0;
    margin-right: 0;

    ul{
      display: inline-block;
    }

    > div {
      margin: $grid-gutter-width 0;
      &:last-child {
        border-left: 1px solid rgb(204, 204, 204);
      }
    }
}