@import '../../sass/variables.scss';
@import '../../sass/color-variables.scss';

.lists {
    background: $white-base;
    position: absolute;
    z-index: 1000000;
    width: 1140px;
    border: 1px solid rgb(204, 204, 204);
    z-index: 10;
    margin-left: 0;
    margin-right: 0;

    .list {
      float: left;
      border: 1px grey solid;
      border-radius: 4px;
      list-style-type: none;
      width: 100%;
      padding-right: 0;
      -webkit-padding-start: 0px;
    }

    li {
      width: 100%;
      text-align:left;
    }

    > div {
      margin: $grid-gutter-width 0;
      &:last-child {
        border-left: 1px solid rgb(204, 204, 204);
      }
    }

    .omrade-wrapper {
      padding-left: 10px;
    }
    .omrade-wrapper:hover {
      background-color: $gray-10;
    }

    .omrade-wrapper:hover:first-of-type {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    .yrkesgrupper-wrapper {
      padding-left: 20px;
    }
    .yrkesgrupper-wrapper:hover {
      background-color: $gray-10;
    }

    .yrken-wrapper {
      padding-left: 30px;
      padding-bottom: 10px;
    }
    .yrken-wrapper:hover {
      background-color: $gray-30;
    }

    .omrade {
      width: 100%;
    }

    .lista-checkbox {
      padding-top: 13px;
    }

    .lista-button {
      padding: 10px 20px  ;
      //background-color: lightblue;
      font-size: 20px;
    }
    .lista-button:hover {
      background-color: $blue-base;
      i {
        color: $white-base;
      }
    }

    .yrkesgruppcontainer {
      border-top: 1px rgb(204, 204, 204) solid;
      border-bottom: 1px rgb(204, 204, 204) solid;
    }

    .yrkescontainer {
      background-color: $gray-10;
    }

}