<footer class="hide-in-print" id="svid10_546b84d6158f5ee0776e1d98"><div id="svid30_546b84d6158f5ee0776e1db0"><div id="lankasfransidhuvudbredd2015ochnafgrundmall"><!-- länkas från sidhuvud, bredd 2015 och naf grundmall --></div><div class="sv-html-portlet sv-portlet" id="svid12_546b84d6158f5ee0776e1d2b"><div id="Sidfotinlinecss"><!-- Sidfot: inline css --></div><style>
.paw-footer {
   background-color: #345468;
   text-align: left;
}

.paw-footer .sidbredd .row:first-child .col-sm-6:nth-of-type(2) {
   border-left: 1px solid #2b4455;
}

.naf-styles.paw-footer .btn-default {
   margin-top: 20px;
}

.paw-footer h1,
.paw-footer h2,
.paw-footer h3,
.paw-footer h4,
.paw-footer .normal {
   color: #EFF1F3;
}
.paw-footer .naf-h2:first-child{
   margin-top: 0;
}
.paw-footer h2 a {
   font-size: 27px;
   text-decoration: none;
   color: #EFF1F3;
   margin-top:0;
   font-weight: 300;
   line-height: 1.2;
   font-family: inherit;
}
.paw-footer h2 a:hover,
.paw-footer h2 a:focus {
   color: #EFF1F3;
}

.naf-styles .paw-footer__link {
   color: #EFF1F3;
   display: block;
   margin-bottom: 8px;
   text-decoration: none;
}
.naf-styles .paw-footer__link:hover,
.naf-styles .paw-footer__link:focus {
   color: #fff;
   text-decoration: underline;
}

.paw-footer__link.paw-footer__about-link {
   display: inline-block;
   margin-left: 15px;
   padding-left: 15px;
   border-left: 1px solid;
}

.paw-footer__link i {
   font-size: 15px;
   position: relative;
   top: -1px;
}

.paw-footer .btn-block {
   margin-top: 15px;
}


.paw-switch {
   background-color: #2b4455;
   text-align: left;
}
.naf-styles .paw-switch__link {
   display: inline-block;
   padding: 15px 25px 0 0;
   text-decoration: none;
   cursor: pointer;
   color: #fff;
   position: relative;
}
.naf-styles .paw-switch__link:hover,
.naf-styles .paw-switch__link:focus {
   color: #fff;
   text-decoration: none;
}
.paw-switch__link.active,
.paw-switch__link:hover {
   padding-bottom:0;
}
.paw-switch__link:after {
   border-bottom: 3px solid transparent;
   content: " ";
   display: block;
   padding-bottom: 13px;
}
.paw-switch__link.active:after,
.paw-switch__link:hover:after {
   border-bottom-color: #f27b24;
}
.paw-switch__link:last-child {
   padding-left: 25px;
}
.paw-switch__link:last-child:before {
   border-right:1px solid #4e7288;
   bottom: 12px;
   content: " ";
   display:block;
   left: -1px;
   position: absolute;
   top: 12px;
}


/* Social links */
.paw-footer__list--social {
   text-align: right;
}
.paw-footer__list--social > .paw-footer__list-item {
   display: inline-block;
   vertical-align: top;
   height: 38px;
}
.paw-footer__list--social > .paw-footer__list-item:first-child {
   padding-right: 10px;
}
.paw-footer__list--social .normal {
   margin-top: 0;
}
.paw-footer__list--social .paw-footer__link {
   margin-right: 10px;
}
.paw-footer__list--social .paw-footer__link-icon {
   background-color: white;
   border-radius: 50%;
   width: 25px;
   height: 25px;
   color: #345468;
   position: relative;
}
.paw-footer__link-icon:before {
   position: absolute;
}
.paw-footer__link-icon.fa-facebook:before       { top: 6px; left: 7px; }
.paw-footer__link-icon.fa-linkedin:before       { top: 5px; left: 7px; }
.paw-footer__link-icon.fa-youtube-play:before   { top: 5px; left: 5px; }
.paw-footer__link-icon.fa-instagram:before      { top: 5px; left: 6px; }

.naf-styles .sidbredd {
   padding-left: 15px;
   padding-right: 15px;
   width: 1002px;
   margin: 0 auto;
}

@media (max-width: 767px) {
   .paw-footer .naf-h2:first-child {
      margin-top: 30px  ;
   }
   .naf-styles.paw-footer .btn-default {
      display: block;
      width: 100%;
   }
   .paw-footer__list--social {
      text-align: center;
   }
   .paw-footer__link.paw-footer__about-link {
      display: block;
      margin: 0;
      border-left: 0;
      text-align: center;
      margin-bottom: 30px;
   }
}

.paw-footer__link i {
   margin-right: 10px;
   color: #fff;
}



#_ba__button_link {
 display: none;
}

</style>
</div>
<div class="naf-styles paw-footer" style="margin-top:15px" id="svid10_546b84d6158f5ee0776e1d0b"><div class="paw-switch" id="svid10_546b84d6158f5ee0776e1d0c"><div class="sv-script-portlet sv-portlet" id="svid12_546b84d6158f5ee0776e1d0d"><div id="Sidfotrollswitch"><!-- Sidfot: rollswitch --></div> <div class="sidbredd">
   <a href="/" title="Jag är arbetssökande" class="paw-switch__link active ">
      Arbetssökande
   </a>
   <a href="/For-arbetsgivare.html" title="Jag är arbetsgivare" class="paw-switch__link ">
      Arbetsgivare
   </a>
</div>
</div>
</div>
<div class="sidbredd" style="padding-top:20px" id="svid10_546b84d6158f5ee0776e1d0e"><div class="row" style="padding-bottom:15px;border-bottom: 1px solid #2b4455;" id="svid10_546b84d6158f5ee0776e1d0f"><div class="col-sm-4" id="svid10_546b84d6158f5ee0776e1d10"><div class="sv-script-portlet sv-portlet" id="svid12_546b84d6158f5ee0776e1d11"><div id="SidfotHamtalankarskript"><!-- Sidfot: Hämta länkar - skript --></div><ul class="paw-footer__list list-unstyled text-left">
   <li class="paw-footer__list-item">
   	<a class="paw-footer__link" href="/Om-oss.html">
            		Om oss och arbetsmarknaden
   	</a>
   </li>
   <li class="paw-footer__list-item">
   	<a class="paw-footer__link" href="/Om-oss/For-leverantorer.html">
            		För leverantörer
   	</a>
   </li>
   <li class="paw-footer__list-item">
   	<a class="paw-footer__link" href="/Om-oss/Pressrum.html">
            		Pressrum
   	</a>
   </li>
   <li class="paw-footer__list-item">
   	<a class="paw-footer__link" href="/Om-oss/Statistik-och-publikationer.html">
            		Statistik och publikationer
   	</a>
   </li>
</ul></div>
<div class="sv-script-portlet sv-portlet" style="padding-top:15px" id="svid12_546b84d6158f5ee0776e1d12"><div id="SidfotHamtalankarskript-0"><!-- Sidfot: Hämta länkar - skript --></div><ul class="paw-footer__list list-unstyled text-left">
   <li class="paw-footer__list-item">
   	<a class="paw-footer__link" href="/Globalmeny/Teckensprak.html">
   		<i class="fa fa-sign-language" aria-hidden="true"></i>Teckenspråk
   	</a>
   </li>
   <li class="paw-footer__list-item">
   	<a class="paw-footer__link" href="/Globalmeny/Other-languages.html">
   		<i class="fa fa-globe" aria-hidden="true"></i>Other languages
   	</a>
   </li>
</ul></div>
</div>
<div class="col-sm-4" id="svid10_546b84d6158f5ee0776e1d13"><div class="sv-text-portlet sv-use-margins" id="svid12_546b84d6158f5ee0776e1d14"><div id="Text1"><!-- Text 1 --></div><div class="sv-text-portlet-content"><h2 class="naf-h2" id="h-Kontaktaoss">Kontakta oss</h2></div></div>
<div class="sv-text-portlet sv-use-margins" id="svid12_546b84d6158f5ee0776e1d16"><div id="Text1-0"><!-- Text 1 --></div><div class="sv-text-portlet-content"><p class="normal">Nå oss via telefon, chatt, mejl eller besök din lokala arbetsförmedling.</p></div></div>
<div class="sv-html-portlet sv-portlet" id="svid12_546b84d6158f5ee0776e1d17"><div id="Sidfotknappkontaktaoss"><!-- Sidfot: knapp kontakta oss --></div><a class="btn btn-default" href="/Globalmeny/Kontakt.html" aria-label="Kontakta oss">Kontakta oss</a>
</div>
<div class="pwm-container" id="svid10_35e8e8ea159c5a24b2c1f4f7"></div>
</div>
<div class="col-sm-4" id="svid10_546b84d6158f5ee0776e1d18"><div class="sv-text-portlet sv-use-margins" id="svid12_35e8e8ea159c5a24b2c1f492"><div id="Text1-1"><!-- Text 1 --></div><div class="sv-text-portlet-content"><h2 class="naf-h2" id="h-Tycktill">Tyck till</h2></div></div>
<div class="sv-text-portlet sv-use-margins" id="svid12_546b84d6158f5ee0776e1d1b"><div id="Text1-2"><!-- Text 1 --></div><div class="sv-text-portlet-content"><p class="normal">Vi vill gärna veta vad du tycker för att kunna göra arbetsformedlingen.se bättre.</p></div></div>
<div class="sv-html-portlet sv-portlet" id="svid12_546b84d6158f5ee0776e1d1c"><div id="SidfotusabillaknappTycktill"><!-- Sidfot: usabilla knapp Tyck till --></div><a class="btn btn-default" onclick="window.usabilla_live('click'); return false;" href="#" aria-label="Tyck till om vår webb">Tyck till</a>
</div>
</div>
</div>
<div class="row" style="padding-top:15px" id="svid10_546b84d6158f5ee0776e1d1d"><div class="col-sm-push-7 col-sm-5" id="svid10_546b84d6158f5ee0776e1d1e"><div class="sv-script-portlet sv-portlet" id="svid12_546b84d6158f5ee0776e1d1f"><div id="SidfotHamtasocialalankarskript"><!-- Sidfot: Hämta sociala länkar - skript --></div><ul class="paw-footer__list--social list-unstyled list-inline">
   <li class="paw-footer__list-item"><p class="normal">Följ oss: </p></li>
   <li class="paw-footer__list-item">
   	<a class="paw-footer__link" title="Besök vår sida på Facebook" aria-label="Besök vår sida på Facebook" href="https://www.facebook.com/Arbetsformedlingen">
   		<i class="paw-footer__link-icon fa fa-facebook" aria-hidden="true"></i>
   	</a>
   </li>
   <li class="paw-footer__list-item">
   	<a class="paw-footer__link" title="Besök vår sida på Linkedin" aria-label="Besök vår sida på Linkedin" href="https://www.linkedin.com/company/arbetsformedlingen">
   		<i class="paw-footer__link-icon fa fa-linkedin" aria-hidden="true"></i>
   	</a>
   </li>
   <li class="paw-footer__list-item">
   	<a class="paw-footer__link" title="Besök vår sida på Youtube" aria-label="Besök vår sida på Youtube" href="https://www.youtube.com/Arbetsformedlingen">
   		<i class="paw-footer__link-icon fa fa-youtube-play" aria-hidden="true"></i>
   	</a>
   </li>
   <li class="paw-footer__list-item">
   	<a class="paw-footer__link" title="Besök vår sida på Instagram" aria-label="Besök vår sida på Instagram" href="https://www.instagram.com/arbetsformedlingen">
   		<i class="paw-footer__link-icon fa fa-instagram" aria-hidden="true"></i>
   	</a>
   </li>
</ul></div>
</div>
<div class="col-sm-pull-5 col-sm-7" id="svid10_546b84d6158f5ee0776e1d20"><div class="sv-html-portlet sv-portlet" id="svid12_546b84d6158f5ee0776e1d21"><div id="Sidfotloggaomwebbplatsen"><!-- Sidfot: logga - om webbplatsen --></div><div class="paw-footer__logo-container">
   <a class="paw-footer__logo-link hidden-xs" href="/">
      <img class="paw-footer__logo" src="/images/18.4d99301a154fd3fb8dfb8f2/1464595984840/logo-af-white.svg" alt="Arbetsförmedlingen">
   </a>
   <a class="paw-footer__link paw-footer__about-link" href="/Globalmeny/Om-webbplatsen">Om webbplatsen</a>
</div>
</div>
</div>
</div>
<div class="sv-html-portlet sv-portlet" id="svid12_546b84d6158f5ee0776e1d22"><div id="Sidfotvisalogotypformobil"><!-- Sidfot: visa logotyp för mobil --></div><div class="paw-footer__logo-container text-center visible-xs-block" style="padding-bottom:20px;">
   <a class="paw-footer__logo-link" href="/">
      <img class="paw-footer__logo" src="/images/18.4d99301a154fd3fb8dfb8f2/1464595984840/logo-af-white.svg" alt="Arbetsförmedlingen">
   </a>
</div>
</div>
</div>
</div>
</div>
<div class="sv-html-portlet sv-portlet" id="svid12_546b84d6158f5ee0776e21e9"><div id="HTML-0"><!-- HTML --></div><style>
.naf-styles a:hover {
   text-decoration: underline;
}
.naf-styles .sidbredd {
   width: 100%;
}
@media (min-width: 768px) {
   .naf-styles .sidbredd {
       width: 750px;
   }
}
@media (min-width: 992px) {
   .naf-styles .sidbredd {
       width: 970px;
   }
}
@media (min-width: 1200px) {
   .naf-styles .sidbredd {
       width: 1170px;
   }
}


</style>
</div>
</footer>
