<header class="hide-in-print" id="svid10_6503351515497e4b738d0150">
  <div id="svid30_6503351515497e4b738d03f5">
    <div id="HuvudnavigationLankas"><!-- Huvudnavigation (Länkas) --></div>
    <div class="container-fluid huvudnavigation" id="svid10_6503351515497e4b738d02ae">
      <div class="container" id="svid10_6503351515497e4b738d02ff">
        <div class="row" id="svid10_6503351515497e4b738d0300">
          <div class="col-xs-6 min-arbetsformedling-meny col-sm-4" id="svid10_6503351515497e4b738d0329">
            <div id="svid30_4d99301a154fd3fb8df1dab3">
              <div id="EtjanstskriptLankas"><!-- E-tjänst skript (Länkas) --></div>
              <div class="sv-script-portlet sv-portlet" id="svid12_4d99301a154fd3fb8df1d85d">
                <div id="Menyhamtakomponenterskript"><!-- Meny - hämta komponenter - skript --></div>
                <nav>
                  <a aria-expanded="false" href="javascript:;" class="ma-menu-toggle js-menu-toggle">
                    <i class="i-my-af"></i> MENY
                  </a>
                </nav>
              </div>
            </div>
          </div>
          <div class="meny-logo col-xs-6 col-sm-4 text-center" id="svid10_6503351515497e4b738d032a">
            <div class="sv-script-portlet sv-portlet" id="svid12_6503351515497e4b738d03a4">
              <div id="Logo"><!-- Logo --></div>
              <a href="/" title="Startsida Platsbanken Prototype" class="naf-logo">
                <img src="/images/18.4d99301a154fd3fb8dfb8f1/1464595984642/af_logo_2014.svg" alt="Arbetsförmedlingens logotyp (Till Arbetsförmedlingens startsida)." />
              </a>
            </div>
          </div>
          <div class="text-right hidden-xs col-sm-4 informationsmeny" id="svid10_6503351515497e4b738d032b">
            <div id="svid30_4d99301a154fd3fb8df1dc70">
              <div id="Kontomenylankas"><!-- Kontomeny (länkas) --></div>
              <div class="sv-script-portlet sv-portlet" id="svid12_4d99301a154fd3fb8df1db36">
                <div id="Kontomeny"><!-- Kontomeny --></div>
                <div class="naf-header-user-menu">
                  <a href="javascript:;" aria-expanded="false" class="naf-header-user js-open-user-menu">
                    <i class="icon-avatar-2 naf-header-user-avatar"></i> Svea {{isLoggedIn}}<i class="naf-header-user-angle-down fa fa-angle-down"></i>
                  </a>
                  <nav class="naf-header-user-list js-user-menu">
			                 <a class="naf-header-user-list-item" style="cursor:pointer;" onclick="_AF.Auth.Logout()">
				               <i class="naf-header-user-list-item-icon"></i>
				               Logga ut
			                 </a>
		              </nav>
	               </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
</header>
