<div class="row row-eq-height">
  <div class="col-md-12 expand-margin">

    <div class="row">
      <div class="col-md-12">
        <h3>Anställningsvillkor</h3>
      </div>
    </div>

    <div class="row row-checkboxes">
      <div class="col-md-4">
        <h4>Anställningstyp</h4>

        <div class="checkbox wrapped-checkbox">
          <input type="checkbox" 
            name="anstallingstyp" 
            id="vanligAnstallning" 
            [ngModel]="vanligAnstallning"
            (ngModelChange)="updateChosenCriteria($event, 'Vanlig anställning', 'ANSTALLNINGSTYP', '1')">
          <label for="vanligAnstallning">
            Vanlig anställning
          </label>
        </div>

        <div class="checkbox wrapped-checkbox">
          <input type="checkbox" 
            name="anstallingstyp" 
            id="sommarferie"
            [ngModel]="sommarferie"
            (ngModelChange)="updateChosenCriteria($event, 'Sommarjobb / feriejobb', 'ANSTALLNINGSTYP', '2')">
          <label for="sommarferie">
            Sommarjobb / feriejobb
          </label>
        </div>

        <div class="checkbox wrapped-checkbox">
          <input type="checkbox" 
            name="anstallingstyp" 
            id="behovsanstallning"
            [ngModel]="behovsanstallning"
            (ngModelChange)="updateChosenCriteria($event, 'Behovsanställning', 'ANSTALLNINGSTYP', '4')">
          <label for="behovsanstallning">
            Behovsanställning
          </label>
        </div>

      </div>
      <div class="col-md-3">
        <h4>Önskad omfattning</h4>
        <div class="checkbox wrapped-checkbox">
          <input type="checkbox" 
            name="omfattning" 
            id="heltid"
            [ngModel]="heltid"
            (ngModelChange)="updateChosenCriteria($event, 'Endast Heltid', 'OMFATTNING', 'Endast Heltid')">
          <label for="heltid">
            Heltid
          </label>
        </div>
        <div class="checkbox wrapped-checkbox">
          <input type="checkbox" 
            name="omfattning" 
            id="deltid"
            [ngModel]="deltid"
            (ngModelChange)="updateChosenCriteria($event, 'Endast Deltid', 'OMFATTNING', 'Endast Deltid')">
          <label for="deltid">
            Deltid
          </label>
        </div>
      </div>
      <div class="col-md-5">
        <h4>Övrigt</h4>
        <div class="checkbox wrapped-checkbox">
          <input type="checkbox" 
            name="omfattning" 
            id="ingenErfarenhet"
            [ngModel]="ingenErfarenhet"
            (ngModelChange)="updateChosenCriteria($event, 'Ingen Erfarenhet', 'INGEN_EFTERFRAGAD_YRKESERFARENHET', '1')">
          <label for="ingenErfarenhet">
            Jobb utan krav på arbetslivserfarenhet.
          </label>
        </div>
      </div>

    </div>
  </div>

</div>