<div class="row row-eq-height">
  <div class="col-md-12 expand-margin">

    <div class="row">
      <div class="col-md-12">
        <h3>Anställningsvillkor</h3>
      </div>
    </div>

    <div class="row row-checkboxes">
      <div class="col-md-4">
        <h4>Anställningstyp</h4>
        <p><p-checkbox name="vanlig" value="1" label="Vanlig anställning" (onChange)="updateChosenCriteria($event, 'Vanlig anställning', 'ANSTALLNINGSTYP', '1')"></p-checkbox></p>
        <p><p-checkbox name="sommarferie" value="2" label="Sommarjobb / feriejobb" (onChange)="updateChosenCriteria($event, 'Sommarjobb / feriejobb', 'ANSTALLNINGSTYP', '2')"></p-checkbox></p>
        <p><p-checkbox name="behov" value="4" label="Behovsanställning" (onChange)="updateChosenCriteria($event, 'Behovsanställning', 'ANSTALLNINGSTYP', '4')"></p-checkbox></p>
      </div>
      <div class="col-md-4">
        <h4>Önskad omfattning</h4>
        <p><p-checkbox name="heltid" value="Endast Heltid" label="Heltid" (onChange)="updateChosenCriteria($event, 'Endast Heltid', 'OMFATTNING', 'Endast Heltid')"></p-checkbox></p>
        <p><p-checkbox name="deltid" value="Endast Deltid" label="Deltid" (onChange)="updateChosenCriteria($event, 'Endast Deltid', 'OMFATTNING', 'Endast Deltid')"></p-checkbox></p>  
      </div>
    </div>
  </div>

</div>
