<ul class="list">
  <li *ngFor="let omrade of yrkesHierarki">

    <div class="clearfix first-level-wrapper" [ngClass]="{ 'active-first-level': omrade.open }">
      <div class="checkbox wrapped-checkbox">              
          <input type="checkbox" 
            name="omraden" 
            [ngModel]="omrade.selected" 
            id="omrade_{{omrade.id}}" 
            (ngModelChange)="selectOmrade(omrade)"
            [ngClass]="{ 'partially-checked': omrade.partialSelect }">
          <label class="" for="omrade_{{omrade.id}}"
            [ngClass]="{ 'partially-checked': omrade.partialSelect }">
              {{ omrade.namn }}
          </label>
      </div>
      <a class="pull-right lista-button"
        (click)="toggleOpen(omrade)">
        <i class="fa fa-angle-down" [ngClass]="{ 'js-rotate': omrade.open }"></i>
      </a>
    </div>

    <div id="omrade_{{ omrade.id }}">
      <div class="second-level-container" *ngIf="omrade.open">
        <li *ngFor="let yrkesgrupp of omrade.children">
          <div class="clearfix second-level-wrapper" [ngClass]="{ 'active-second-level': yrkesgrupp.open }">
            <div class="checkbox wrapped-checkbox">              
                <input type="checkbox" 
                  name="yrkesgrupper" 
                  [ngModel]="yrkesgrupp.selected" 
                  id="yrkesgrupp_{{yrkesgrupp.id}}" 
                  (ngModelChange)="selectYrkesgrupp(omrade, yrkesgrupp)"
                  [ngClass]="{ 'partially-checked': yrkesgrupp.partialSelect }">
                <label class="" for="yrkesgrupp_{{yrkesgrupp.id}}"
                  [ngClass]="{ 'partially-checked': yrkesgrupp.partialSelect }">
                    {{ yrkesgrupp.namn }}
                </label>
            </div>
            <a class="pull-right lista-button"
              (click)="toggleOpen(yrkesgrupp)">
              <i class="fa fa-angle-down" [ngClass]="{ 'js-rotate': yrkesgrupp.open }"></i>
            </a>
          </div>
      
          <div id="yrkesgrupp_{{ yrkesgrupp.id }}">
            <div class="third-level-container" *ngIf="yrkesgrupp.open">
              <li *ngFor="let yrke of yrkesgrupp.children">
                <div class="clearfix third-level-wrapper">
                  <div class="checkbox wrapped-checkbox">              
                      <input type="checkbox" 
                        name="yrken" 
                        [ngModel]="yrke.selected" 
                        id="yrke_{{yrke.id}}"
                        (ngModelChange)="selectYrke(omrade, yrkesgrupp, yrke)">
                      <label class="" for="yrke_{{yrke.id}}">{{ yrke.namn }}</label>      
                  </div>
                </div>
              </li>
            </div> <!-- yrkes-container -->
          </div> <!-- collapse yrkesgrupp -->

        </li> <!-- yrkesgrupp list -->
      </div> <!-- yrkesgrupp-container -->
    </div> <!-- collapse område -->
  </li> <!-- områdes list -->
</ul>