@import '../../../sass/variables.scss';
@import '../../../sass/color-variables.scss';

.lists {
  position: relative;
  z-index: 1000000;
  width: 100%;
  z-index: 10;

  margin-left: 0px;

  h2 {
    text-align: left;
  }

  > div {
    margin: $grid-gutter-width 0;
  }
}

.specialcontainer {
  width: 700px;

  @media (min-width: 768px) { 
    margin-right: 0px;
    width: 750px;
  }

  @media (min-width: 992px) {
    width: 940px;
  }

  @media (min-width: 1200px) {
    width: 1140px;
  }
}