<div class="container">
  <div *ngIf="loading" class="lists" style="padding-bottom: 30px;">
    <div class="loading-wrapper">
        <div class="loading-indicator li-sm"></div>
    </div>
    <p>Vänta lite, jag ska bara...</p>
    <i>-Alfons Åberg</i>
  </div>
  <div *ngIf="!loading">
    <div class="lists row">
      <div class="col-md-6 col-sm-12">
        <h2>Välj yrke från lista</h2>
        <pb-valj-yrke-fran-lista></pb-valj-yrke-fran-lista>
      </div>
      <div class="col-md-6 col-sm-12">
        <h2>Välj plats från lista</h2>
        <pb-valj-plats-fran-lista></pb-valj-plats-fran-lista>
      </div>
    </div>
  </div>
</div>