@import '../../../sass/variables.scss';
@import '../../../sass/color-variables.scss';

.lists {
  background: $white-base;
  position: absolute;
  z-index: 1000000;
  width: 100%;
  z-index: 10;

  h2 {
    text-align: left;
  }

  > div {
    margin: $grid-gutter-width 0;
    /*
    &:last-child {
      border-left: 1px solid rgb(204, 204, 204);
    }
    */
  }  
}