<section class="searchpackages typography-v2">
  <div class="container">
    <h2>Pröva våra sökpaket</h2>

    <div class="searchpackages-desktop">
      <div class="row">

        <!-- First a hero package -->
        <div class="col-sm-12 col-md-6 searchpack">
          <a href="{{ heroPackage.searchUrl }}">
            <div class="searchpack-image">
              <img src="{{ heroPackage.imgUrl }}">
            </div>
            <p><a href="{{ heroPackage.searchUrl }}">{{ heroPackage.text }}</a></p>
          </a>
        </div>

        <!-- Then two more packages, herocompanions -->
        <div class="col-sm-12 col-md-3 searchpack" *ngFor="let herocompanionpack of heroCompanionPackages">
          <a href="{{ herocompanionpack.searchUrl }}">
            <div class="searchpack-image">
              <img src="{{ herocompanionpack.imgUrl }}">
            </div>
            <p><a href="{{ herocompanionpack.searchUrl }}">{{ herocompanionpack.text }}</a></p>
          </a>
        </div>

      </div>
      <div class="row">
        <!-- Then however many more packages we have -->
        <div class="col-sm-12 col-md-3 searchpack" *ngFor="let foldoutpack of foldoutPackages">
          <a href="{{ foldoutpack.searchUrl }}">
            <div class="searchpack-image">
              <img src="{{ foldoutpack.imgUrl }}">
            </div>
            <p><a href="{{ foldoutpack.searchUrl }}">{{ foldoutpack.text }}</a></p>
          </a>
        </div>
      </div>
    </div>
    <div class="searchpackages-mobile">
      <div class="row">
        <div class="col-sm-12 col-md-3 searchpack" *ngFor="let searchPack of searchPacks">
          <a href="{{ searchPack.searchUrl }}">
            <div class="searchpack-image">
              <img src="{{ searchPack.imgUrl }}">
            </div>
            <p><a href="{{ searchPack.searchUrl }}">{{ searchPack.text }}</a></p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
