<div class="pb"> <!-- Enable typography-v2 here -->
    <div class="overlay" (click)="toggleOverlay($event)" *ngIf="showOverlay"></div>
    <!-- <app-header></app-header> -->
    <app-search></app-search>
    <app-quicklinks></app-quicklinks>
    <app-searchpackages></app-searchpackages>
    <app-directedcommunication></app-directedcommunication>
    <!-- <app-footer></app-footer> -->
</div>

<!-- How -->
<!--
    <div class="pb">
        <a routerLink="/sparadejobb" routerLinkActive="active">sparadejobb</a>
        <a routerLink="/quicklinks" routerLinkActive="active">quicklinks</a>
        <router-outlet></router-outlet>
    </div>
-->