<!--
<div class="container">
  <nav class="tabs">
    <tabset>
      <tab>
        <ng-template tabHeading>
          <a routerLink="demopage" routerLinkActive="active"> Demopage </a>
        </ng-template>
      </tab>
      <tab>
        <ng-template tabHeading>
          <a routerLink="start" routerLinkActive="active"> Demopage </a>
        </ng-template>
      </tab>
    </tabset>
  </nav>
  <router-outlet></router-outlet>
</div>
-->

<!-- <a routerLink="demopage" routerLinkActive="active">Demopage</a>
<a routerLink="test" routerLinkActive="active">Test</a>

<router-outlet></router-outlet> -->

<app-header></app-header>
<main>
  <!-- <app-nav></app-nav> -->
  <div id="MainContent" class="ng-scope">
      <router-outlet></router-outlet>
  </div>
  <app-help></app-help>
</main>
<app-footer></app-footer>
