@import '../../sass/color-variables.scss';
@import '../../sass/variables.scss';

.searchpackages {
    background-color: $gray-10;

    padding-bottom: 30px;
    padding-top: 30px;

    h2 {
        margin-bottom: 40px;
    }

    .searchpack {
        margin-bottom: 20px;

        .searchpack-image {
            width: 100%;
            height: auto;
            position: relative;
            &:before {
              position: absolute;
              width: 100%;
              height: 100%;
              content: "";
              top:0;
              left: 0;
              background-color: $blue-base;
              z-index: 1;
            }

            img {
              position: relative;
              width: 100%;
              transition: all 100ms linear;
              z-index: 10;
            }
        }

        p {
            padding-top: 12px;
            margin-bottom: 1rem;
        }

        a {
            color: $blue-base;
            text-decoration: none;

            // What it looks like in zeplin... ?
            font-size: 18px;
            //font-weight: 300;

        }
        a:hover {
            text-decoration: underline;
            .searchpack-image {
              img {
                // Translate 3d is a trick to force hardware accelerated transitions (== smooth)
                transform: translate3d(10px, -10px, 0);
              }
            }
        }
    }
    .searchpackages-desktop {
      display: block;
    }
    .searchpackages-mobile {
      display: none;
    }
    @media screen and (max-width: $screen-sm) {
      .searchpackages-desktop {
        display: none;
      }
      .searchpackages-mobile {
        display: block;
      }

      .row {
        white-space: nowrap;
        overflow-y: scroll;
        flex-wrap: nowrap;
      }
      .searchpack {
        min-width: 86vw;
        white-space: normal;
        display: inline-block;
      }

    }
}
