<section class="directedcommunication typography-v2" style="font">
  <div class="log-in-communication">
    <div class="container">
      <div class="positive-list col-12 col-sm-6">
        <ul>
          <li>Spara dina sökningar ipsum bacon</li>
          <li>Bevaka nya jobb som kommer in i Platsbanken</li>
          <li>Spara intressanta jobb till senare</li>
          <li>Skapa en eller flera profiler som gör dig sökbar av arbetsgivare som letar medarbetare</li>
        </ul>
      </div>
      <div class="log-in-action col-12 col-sm-6">
        <div class="image key-image">
          <img src="./assets/img/keyman.svg" alt="">
        </div>
        <div class="log-in">
          <h3 class="text-center">Ta del av mer funktioner för jobbsökande</h3>
          <div class="log-in-actions">
            <div class="row">
              <div class="col-md-12">
                <div class="center-block">
                    <button type="button" class="btn btn-default">Skaffa ett konto</button>
                </div>
              </div>
            </div>
            <div class="row justify-content-center text-center create-account">
              <a class="center col-12" href="#">Logga in med befintligt konto</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="half-page-banners">
    <div class="half-page-banner did-you-know">
      <div class="content row">
        <div class="text col-sm-8">
          <h2>Visste du att</h2>
          <p>
            <!--<em>Data scientist – datavetare.</em> Är en långsiktig teknisk visionär. Expert på analys av stora mängder data.-->
          <em>Lavinprognosskribent</em> analyserar information från experter i fält och olika väderdata och bedömer var lavinfaran är störst, och vilken typ av laviner det är störst risk för. Lavinprognosskribenten skriver sedan ihop en rekommendation enligt den internationella lavinskalan. Lavinprognoser för svenska fjällen görs på Naturvårdsverkets kontor i Östersund.
          </p>
          <a class="chevron-link" href="https://www.arbetsformedlingen.se/For-arbetssokande/Lediga-jobb/Sa-fungerar-Platsbanken.html">Länk till veta mer</a>
        </div>
        <div class="image col-sm-4">
          <img src="./assets/img/talkwoms.svg" alt="">
        </div>
      </div>
    </div>
    <div class="half-page-banner platsbanken-app-banner">
      <div class="content row">
        <div class="text col-sm-8">
          <h2>
            Platsbanken finns även som app
          </h2>
          <p>
            Platsbanken är Arbetsförmedlingens app för dig som söker jobb. Här testar och utvecklar vi nya funktioner tillsammans med våra användare. Vi utvecklar appen kontinuerligt.
          </p>
          <a class="chevron-link" href="https://itunes.apple.com/se/app/platsbanken-labs/id1157942102?mt=8">Ladda ner i App Store</a>
        </div>
        <div class="image col-sm-4">
          <img src="./assets/img/mobcofman.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="my-profile-communication" style="">
    <div class="container">
      <div class="row">
        <div class="text col-12 col-md-7">
          <h1>Just nu har vi 10.000 aktiva arbetsgivare</h1>
          <p>Låt jobben komma till dig. Skapa en eller flera profiler så att arbetsgivare kan hitta och ta kontakt direkt med dig.</p>
          <a class="chevron-link" href="#">Skapa en profil</a>
        </div>
        <div class="image col-12 col-md-5">

        </div>
      </div>
    </div>
  </div>
</section>
