<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 paw-footer__lists">
        <ul class="paw-footer__list list-unstyled text-left">
          <li class="paw-footer__list-item"> <a class="paw-footer__link" href="#">Om oss och arbetsmarknaden</a>  </li>
          <li class="paw-footer__list-item"> <a class="paw-footer__link" href="#">För leverantörer</a>  </li>
          <li class="paw-footer__list-item"> <a class="paw-footer__link" href="#">Pressrum</a>  </li>
          <li class="paw-footer__list-item"> <a class="paw-footer__link" href="#">Statistik och publikationer</a>  </li>
        </ul>
        <ul class="paw-footer__list list-unstyled text-left" style="padding-top: 15px;">
          <li><a href="" class="paw-footer__link"><i class="fa fa-sign-language"></i>Teckenspråk</a></li>
          <li><a href="" class="paw-footer__link"><i class="fa fa-globe"></i>Other languages</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h2>Kontakta oss</h2>
        <p>
          Nå oss via telefon, chatt, mejl eller besök din lokala arbetsförmedling.
        </p>
        <a href="" class="btn btn-default">Kontakta oss</a>
      </div>
      <div class="col-sm-4">
        <h2>Tyck till</h2>
        <p>
          Vi vill gärna veta vad du tycker för att kunna göra arbetsformedlingen.se bättre.
        </p>
        <a href="" class="btn btn-default">Tyck till</a>
      </div>
    </div>
    <div class="row logo-row">
      <div class="col-sm-6 logo-container" >
        <img src="https://www.arbetsformedlingen.se/images/18.4d99301a154fd3fb8dfb8f2/1464595984840/logo-af-white.svg" alt="">
        <a href="#" class="paw-footer__link">Om webbplatsen</a>
      </div>
    </div>
  </div>
</footer>
