<section class="search">  
    <div class="container">
      <div class="alwaysvisible">
          <div class="row introduction">
            <div class="col-md-6">
              <h1 class="welcome">Välkommen till Platsbanken</h1>
              <h1>Just nu finns det <span class="bold">{{ antalLedigaJobb }} </span>lediga jobb</h1>
              <p>Skriv vad du vill jobba med och var i Sverige du söker jobb. Du kan söka flera yrken samtidigt. Lägg till dina kompetenser.</p>
            </div>
            <div class="col-md-6">
              <img src="./assets/img/searchman.svg" class="searchman">
            </div>
          </div>

          <div class="row searchlabels">
            <div class="col-md-2 first-search-field-wrapper"></div>
            <div class="col-md-10 no-padding">
              <div class="col-md-5 no-padding">
                <label class="pb-search-field-label">Jag vill jobba som...</label>
              </div>
              <div class="col-md-5 no-padding">
                <label class="pb-search-field-label">Jag vill jobba i...</label>
              </div>
              <div class="col-md-2 pb-search-btn-wrapper"></div>
            </div>
          </div>

          <div class="row searchfields">
            <div class="col-md-2 first-search-field-wrapper">
              <!-- Choose from list -->
              <button class="pb-search-list-accordion pb-list-button" type="button" [ngClass]="{open: showPickFromList, closed: !showPickFromList}" aria-expanded="false" aria-controls="valjFranLista">

                <div *ngIf="showPickFromList" class="closed" id="valj-fran-lista" [ngClass]="{open: showPickFromList, closed: !showPickFromList}">
                  <app-valj-fran-lista></app-valj-fran-lista>
                </div>

                <div class="valj-fran-lista-button" (click)="toggleShowPickFromList($event)"  [ngClass]="{ 'pb-lift-up': showPickFromList }">
                  <p class="text-center">
                    Välj från lista 
                    <i class="fa fa-angle-down" [ngClass]="{ 'js-rotate': showPickFromList }"></i>
                  </p>
                </div>
              </button>
            </div>
            <div class="col-md-10 no-padding">
              <div class="col-md-5 no-padding">

                <!-- Yrken search : ) -->
                <pb-autocomplete suggestionsType="yrke" allowFritext="true"></pb-autocomplete>

              </div>
              <div class="col-md-5 no-padding">
                <!-- Ort search -->
                <pb-autocomplete suggestionsType="ort"></pb-autocomplete>

              </div>
              <div class="col-md-2 pb-search-btn-wrapper">
                <button class="pb-new-search-button" (click)="searchButtonClick()">
                  <p class="text-center">Sök</p>
                </button>
              </div>
            </div>
          </div>

          <div class="row chosen-criteria-tags">
            <div class="col-md-6">
              <div class="chosenYrkenContainer" *ngIf="chosenYrken.length > 0 && !showYrkenCriteria">
                <div class="float-left active-yrken-pill" (click)="removeFromChosenYrken()" [ngClass]="{ fritextCriteriaTag: chosenYrken[0].typ === 'fritext' }">
                  <span>{{ chosenYrken[0].namn }}</span>
                  <span class="active-yrken-pill-number" *ngIf="chosenYrken.length > 1">+{{ chosenYrken.length - 1 }}</span>
                  <i class="fa fa-close"></i>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="chosenOrterContainer" *ngIf="chosenOrter.length > 0 && !showOrterCriteria">
                <div class="float-left active-yrken-pill" (click)="removeFromChosenOrter()" [ngClass]="{ fritextCriteriaTag: chosenOrter[0].typ === 'fritext' }">
                  <span>{{ chosenOrter[0].namn }}</span>
                  <span class="active-yrken-pill-number" *ngIf="chosenOrter.length > 1">+{{ chosenOrter.length - 1 }}</span>
                  <i class="fa fa-close"></i>
                </div>
              </div>
            </div>
          </div>

      </div>

      <div class="row">
        <div class="col-md-12">
            <button class="search-expand-button" type="button" data-toggle="collapse" data-target="#expandSearch" aria-expanded="false" aria-controls="expandSearch">
                <p class="text-center search-expand-button-text"><i class="fa fa-angle-down js-rotate-if-collapsed"></i>Se fler sökkriterier</p>
            </button>

            <div class="collapse" id="expandSearch">
              <app-search-expand></app-search-expand>
            </div>

        </div>
      </div>
    </div>
</section>
