@import '../../../sass/variables.scss';
@import '../../../sass/color-variables.scss';

.directedcommunication {
    min-height: 300px;
}

.log-in-communication {
  padding: 60px 0;
  .positive-list {
    ul {
    }
    li {
      background: url("/assets/img/list-item.svg") no-repeat 0px 0px transparent;
      list-style-type: none;
      padding: 3px 0 10px 48px;
      font-size: 16px;
	    font-weight: 300;
      line-height: 1.5;

      margin-bottom: 10px;
    }
  }
  .log-in-action {
    .key-image {
      max-height: 80px;
      img {
        max-width: 100%;
        max-height: 82px;
      }
    }
    .log-in {
      h3 {
        padding: 10px 0;
      }
      .btn {
        width: 70%;
        margin: 0 15%;
      }
      .create-account {
        padding: 12px 0;
      }
    }
  }
}

.half-page-banners {
  display: flex;
  @media only screen and (max-width : $screen-sm) { flex: 0 0 100%; flex-flow: row wrap; }

  .half-page-banner {
    width: 50%;
    display: flex;
    flex-flow: column nowrap;

    @media only screen and (max-width : $screen-sm) { width: 100%; }

    .content {
      width: 100%;
      padding-top: ($grid-gutter-width*2);
      padding-bottom: ($grid-gutter-width);
      max-width: ($container-large-desktop/2 + $grid-gutter-width/2);

      @media only screen and (max-width : $screen-lg) { max-width: ($container-desktop/2 + $grid-gutter-width/2); }
      @media only screen and (max-width : $screen-md) { max-width: ($container-tablet/2 + $grid-gutter-width/2); }
      @media only screen and (max-width : $screen-sm) { max-width: 100%; }
    }
    .text {
      h2 {
        margin-top: 0;
      }
      p {
        font-size: 18px;
        line-height: 1.5;
        margin-top: 21px;
        color: $black-10;
      }
    }
    .image {
      img {
        max-width: 100%;
      }
    }
  }
  .half-page-banner:first-child {
    align-items: flex-end;
    .content {
      padding-right: $grid-gutter-width;
    }
    @media only screen and (max-width : $screen-sm) {
      align-items: flex-start;
      .content {
        padding-left: $grid-gutter-width;
        padding-right: 0;
      }
    }
  }
  .half-page-banner:last-child {
    .content {
      padding-left: $grid-gutter-width*2;
      @media only screen and (max-width : $screen-sm) { padding-left: $grid-gutter-width; }
    }
  }
}
.did-you-know {
  background-color: $blue-20;
}
.platsbanken-app-banner {
  background-color: $gray-base;
}
.my-profile-communication {
  background: url("/assets/img/boss.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  padding: 60px 0;
  img {
    width: 100%;
  }

  @media only screen and (max-width : $screen-sm) {
    padding-top: 0;
    background-color: $white-base;

    .row {
      flex-flow: column-reverse;
    }
    .text {
      width: calc(100% - 40px);
      margin: 0 20px;
      margin-top: -40px;
      padding: 15px;
      z-index: 1;
      background: $white-base;
    }
    .image {
      padding: 0;
      height: 400px
    }
  }
}
