@import '../../sass/color-variables.scss';

.quicklinks {
    background-color: $gray-10;
    ul { 
        list-style: none;
        padding-left: 0; 
    }
    p {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    a {
        color: $blue-base;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }

    .rubrik {
        color: $black-10;
    }
}